    #MailLink:link {
        color: #FFF;
    }

    #MailLink:visited {
        color: #FFF;
    }

    #MailLink:hover {
        color: #FFF;
    }

    #MailLink:active {
        color: #FFF;
    }