body{
	background: #000;
}

.inner-page-wrap {
	width: 100%;
	min-height: calc(100vh - var(--footer-height));
	background: url("../img/bk-main.jpg") no-repeat;
	background-size: cover;
	padding-top: var(--header-height);
}

.inner-page-s,
.inner-page-m,
.inner-page-l,
.inner-page-xl{
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: 100%;
	padding: 37px 15px 50px;
}

.inner-page-s {
	max-width: 414px;
}

.inner-page-m {
	max-width: 780px;
}

.inner-page-l {
	max-width: 798px;
}

.inner-page-l.wdrl{
	padding: 37px 15px 80px;
}

.inner-page-xl{
	max-width: 1230px;
}

.record-nav ~ .inner-page-xl{
	padding: 7px 15px 30px;
}

.inner-header {
	background: url("../img/inner_banner.jpg") no-repeat;
	background-size: cover;
	text-align: center;
}

.inner-header span {
	display: inline-block;
	font-size: var(--font-size-xl);
	color: var(--sub-bk-color);
	padding: 50px 15px;
}

@media screen and (max-width: 414px) {
	.inner-page-s,
	.inner-page-m,
	.inner-page-l {
		padding: 22px 15px 35px;
	}

	.inner-header {
		background: none;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1031;
		width: 100%;
		text-align: center;
		pointer-events: none;
	}

	.inner-header span {
		font-size: var(--font-size-l);
		padding: 18px 0 7px;

	}

}

