.record-nav {
	background: var(--sub-color);
	box-shadow: inset 0 4px 3px rgba(0, 0, 0, .5);
}

.record-nav ul {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	width: 100%;
	max-width: 798px;
	padding: 0 15px 0;
	margin: 0 auto;
}

.record-nav li {
	display: inline-block;
	font-size: var(--font-size-l);
	width: 25%;
	text-align: center;
}

.record-nav a {
	display: block;
	color: var(--sub-bk-color) !important;
	padding: 8px 0 6px;
	border-bottom: 4px solid transparent;
	transition: .4s ease;
	text-decoration: none;
}

.record-nav a:active,
.record-nav a.active,
.record-nav a:hover {
	border-color: var(--main-color);
	color: var(--main-color) !important;
}

/*pagination*/
.pgn-wrap{
	position: absolute;
	bottom: 0;
    margin-bottom : 20px;
}

.pgn-wrap nav{
	display: inline-block;
}
/*dis pagination*/
.page-item:last-child .page-link,
.pagination-sm .page-item:last-child .page-link{
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.pagination-sm .page-item:first-child .page-link{
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

.page-item.disabled .page-link{
	background: var(--main-color);
	color: #fff;
	border-color: #fff;
}

.page-link{
	background-color: transparent;
	color: #fff;
	border-color: #fff;
	outline: none;
}

.page-link:hover{
	color: var(--main-color);
	background-color: transparent;
	border-color: #fff;
}

.page-link:focus{
	box-shadow: none;
}
.pagination-sm .page-link{
	padding: 4px 18px;
	font-size: var(--font-size-s);
}

@media screen and (max-width: 414px) {
	.record-nav {
		box-shadow: none;
	}

	.record-nav a {
		font-size: var(--font-size-m);
		padding: 5px 0 6px;
	}
}