/*form*/
.form-btn-m {
	padding-top: 10px !important;
	text-align: center;
}

.form-btn-m button {
	width: 50%;
	display: inline-block;
}

.birth-date-wrap{
	position: relative;
}

.birth-date-wrap label{
	width: 12px;
	height: 9px;
	position: absolute;
	right: 2px;
	top: 9px;
	display: block;
	pointer-events: none;
}

/*date-picker*/
.dropdown-menu {
	width: calc(100% - 30px);
	max-width: 384px;
	border: 1px solid var(--sub-bk-color);
	border-radius: 0 !important;
	background: var(--sub-color);
	margin: 4px 0 0!important;
}

.datepicker {
	padding: 0 30px 10px !important;
}

.datepicker table {
	width: 100%;
}

.datepicker th {
	color: var(--sub-bk-color);
	font-weight: 400 !important;
}

.datepicker .datepicker-switch {
	color: var(--main-color)!important;
	font-size: var(--font-size-m);
	font-weight: 400;
	padding: 10px 0;
}

.datepicker .datepicker-switch:hover,
.datepicker tfoot tr th:hover{
	background: transparent!important;
}

.datepicker td,
.datepicker th {
	color: var(--sub-bk-color) !important;
	font-size: var(--font-size-s);
	padding: 2px;
	width: auto!important;
	height: auto!important;
	border-radius: 0!important;
}

.datepicker table tr td.old {
	visibility: hidden;
}

.datepicker table tr td.new {
	display: none;
}

.datepicker table tr td.disabled,
.datepicker table tr td.disabled:hover {
	color: var(--sub-font-color) !important;
}

.datepicker table tr td.day:hover,
.datepicker table tr td.day.focused{
	background: var(--main-color)!important;
	color: var(--sub-bk-color);
}

.datepicker table tr td span.active.active{
	background: transparent!important;
	color: var(--main-color);
	border-radius: 0;
}

.datepicker table tr td.day.active,
.datepicker table tr td.day.active:active,
.datepicker table tr td.day.active:hover:active,
.datepicker table tr td.active.active{
	color: var(--main-color)!important;
	background: transparent!important;
	border-radius: 0;
}

.datepicker table tr td span:hover,
.datepicker table tr td span.focused{
	background: var(--main-color)!important;
	border-radius: 0!important;
}

.datepicker-dropdown:before,
.datepicker-dropdown:after {
	display: none !important;
}

.datepicker .prev,
.datepicker .next{
	width: 12px!important;
	height: 9px!important;
	background: url(../img/icon-arrow.svg) no-repeat center center;
	background-size: 12px;
	color: transparent!important;
}

.datepicker .prev{
	transform: rotate(90deg);
}

.datepicker .next{
	transform: rotate(270deg);
}
.datepicker .prev:hover,
.datepicker .next:hover{
	width: 12px!important;
	height: 9px!important;
	background: url(../img/icon-arrow.svg) no-repeat center center!important;
	background-size: 12px!important;
	color: transparent!important;
}



/*upd info pic*/
.upd_info_wrap{
	display: flex;
	flex-flow: row nowrap;
    align-items: center;
	justify-content: space-between;
}

.upd_info_wrap > div{
	display: inline-block;
	width: 48%;
}

.upd_info_pic{
	border: 2px solid var(--sub-bk-color);
	width: 100%;
	height: 360px;
	border-radius: 4px;
	text-align: center;
	overflow: hidden;
	background: url("../img/icon-upload.svg") no-repeat;
	background-size: 100% 100%;
	margin-bottom: 35px;
}

.upd_info_pic img{
	object-fit: cover;
	height: 360px;
}

.upd_info_btn{
	padding-top: 35px;
}

.upd_info_btn > div{
	width: 100%;
	max-width: 386px;
	margin: 0 auto;
}

.datepicker table tr td.today,
.datepicker table tr td.today:hover,
.datepicker table tr td.today.disabled,
.datepicker table tr td.today.disabled:hover{
	background: transparent!important;
}

@media (max-width: 414px) {
	.upd_info_pic{
		width: 100%;
		height: 180px;
		/*background-size: 80px;*/
	}

	.upd_info_pic img{
		height: 180px;
	}

	.btn-l{
		padding: 8px 20px;
	}

}