<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="apple-touch-icon" href="../../resource/img/favicon/touchIcon.png">
	<link rel="icon" href="../../resource/img/favicon/favicon.png">
	<!--[if IE]>
	<link rel="shortcut icon" href="../../resource/img/favicon/favicon.ico"><![endif]-->
	<title>ForOnlyTec</title>
	<script src="../../resource/plugin/jquery/jquery-1.11.3.min.js"></script>
	
	<!--fullPage-->
	<link type="text/css" rel="stylesheet" href="../../resource/plugin/fullPage/jquery.fullpage.min.css">
	<script src="../../resource/plugin/fullPage/jquery.fullpage.js"></script>
	
	<link type="text/css" rel="stylesheet" href="../../resource/css/set.css">
	<link type="text/css" rel="stylesheet" href="../../resource/css/style.css">
	<link type="text/css" rel="stylesheet" href="../../resource/css/theme.css">
</head>

<body>

<!--menu-->
<div class="">
	<div class="slide-menu-wra" id="mySidenav">
		<span href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img
		src="../../resource/img/icon/icon_ham_close.png" alt="closeMenu"
		></span>
		<ol class="slide-menu menu">
			<li data-menuanchor="about"><a href="#about" class="" onclick="closeNav()">首頁</a></li>
			<li data-menuanchor="service"><a href="#service" class="" onclick="closeNav()">服務項目</a></li>
			<li data-menuanchor="publicity"><a href="#publicity" class="" onclick="closeNav()">5000專案</a></li>
			<li data-menuanchor="plan"><a href="#plan" class="" onclick="closeNav()">配套方案</a></li>
			<li data-menuanchor="portfolio"><a href="#portfolio" class="" onclick="closeNav()">作品案例</a></li>
			<li data-menuanchor="contact"><a href="#contact" onclick="closeNav()">聯絡我們</a></li>
			<li class="langEx"><a>簡</a>/<a class="act" class="" onclick="closeNav()">繁</a></li>
		</ol>
	
	</div>
	<ul class="menu-wrap wra-l menu">
		<li data-menuanchor="about"
		class="active menu-logo"
		><a href="#about" class=""><img
		src="../../resource/img/logo/logo.svg"
		> </a></li>
		<li class="menu-list">
			<a class="menu-ham" onclick="openNav()"><img src="../../resource/img/icon/icon_ham.svg" alt="openMenu"></a>
			<ol class="menu-cnt">
				<li data-menuanchor="service"><a href="#service">服務項目</a></li>
				<li data-menuanchor="publicity"><a href="#publicity">5000專案</a></li>
				<li data-menuanchor="plan"><a href="#plan">配套方案</a></li>
				<li data-menuanchor="portfolio"><a href="#portfolio">作品案例</a></li>
				<li data-menuanchor="contact"><a href="#contact">聯絡我們</a></li>
				<li class="langEx"><a>簡</a>/<a class="act">繁</a></li>
			</ol>
		</li>
	</ul>
</div>
<!--content-->
<div id="ido">
	<div class="section about active">
		<div class="about-title-wrap">
			<p class="about-title">專屬科技有限公<span>司</span></p>
			<p class="about-cnt">專業網站設計規劃．為您打造聯接世界最好的通<span>道</span></p>
		</div>
		<a href="#service"
		class="arrow-wrap top"
		><img src="../../resource/img/index/top_arrow.png" class="about-arrow"></a>
	</div>
	
	<div class="section service">
		<div class="wra-l sec-cnt flex-col-c">
			<div class="title-wrap">
				<p class="title">專業服務項目</p>
				<p class="title-dec">service</p>
			</div>
			<div class="sub-title-wrap">
				了解客戶需求、專業諮詢規劃、專業建置與系統整合校正、維修服務和客戶關懷。<br>
				專屬科技提供全方位專業服務，滿足客戶多樣需求，提升客戶競爭力，創造雙贏局面
			</div>
			<div>
				<ul class="box-wrap">
					<li class="box-3">
						<a class="box-card">
							<ul class="box-card-cnt">
								<li>
									使用者介面設計<br>UIUX Design
								</li>
								<li>
									<img src="../../resource/img/icon/icon_uiux.svg" alt="uiux">
								</li>
							</ul>
							<p class="box-card-reCnt">提供網頁設計及APP視覺，確保元素介面一致性，定義如何顯示錯誤警告狀態，使瀏覽步驟符合邏輯觀察使用者行為，檢查有無障礙</p>
						</a>
					</li>
					<li class="box-3">
						<a class="box-card">
							<ul class="box-card-cnt">
								<li>
									網頁工程<br>WEB Development
								</li>
								<li>
									<img src="../../resource/img/icon/icon_web.svg" alt="web">
								</li>
							</ul>
							<p class="box-card-reCnt">介面流程的規劃(優化)，前端互動設計、響應式網頁設計(RWD)搜尋引擎優化(SEO)、後端管理系統設計設計</p>
						</a>
					</li>
					<li class="box-3">
						<a class="box-card">
							<ul class="box-card-cnt">
								<li>
									系統架設<br>Linux System Design
								</li>
								<li>
									<img src="../../resource/img/icon/icon_linux.svg" alt="linux">
								</li>
							</ul>
							<p class="box-card-reCnt">各項雲端運算服務解決方案、負載平衡實作與系統備援備份配套措施、系統資訊安全防護及各項服務軟件漏洞修護補強</p>
						</a>
					</li>
					<li class="box-3">
						<a class="box-card">
							<ul class="box-card-cnt">
								<li>
									資料庫架設<br>SQL Database Design
								</li>
								<li>
									<img src="../../resource/img/icon/icon_SOL.svg" alt="SQL">
								</li>
							</ul>
							<p class="box-card-reCnt">資料庫架設規劃設計、維護、性能調校服務異地備援、叢集架構設計架設、即時監控資料庫健康狀況及通知
							</p>
						</a>
					</li>
					<li class="box-3">
						<a class="box-card">
							<ul class="box-card-cnt">
								<li>
									網路架設<br>Network Design
								</li>
								<li>
									<img src="../../resource/img/icon/icon_network.svg" alt="Network">
								</li>
							</ul>
							<p class="box-card-reCnt">
								園區網路規劃分層架設:VLAN規劃、路由繞送、交換機安全、VPN、防火牆、負載平衡。資料中心規劃架設：主機虛擬化、備援機制、資料存儲</p>
						</a>
					</li>
					<li class="box-3">
						<a class="box-card">
							<ul class="box-card-cnt">
								<li>
									APP開發<br>APP Development
								</li>
								<li>
									<img src="../../resource/img/icon/icon_app.svg" alt="app">
								</li>
							</ul>
							<p class="box-card-reCnt">提供 Android與IOS 平台開發．軟硬整合應用，設計專屬的應用工具，客製化功能、形式設定，實現在各行動平台的需求</p>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<a href="#publicity"
		class="arrow-wrap"
		><img src="../../resource/img/index/top_arrow.png" class="about-arrow"></a>
	</div>
	
	<div class="section publicity">
		<div class="wra-l sec-cnt flex-col-c">
			<div class="plt-cnt">
				<a class="plt-cnt-txt"><img src="../../resource/img/index/5000_txt.png"></a>
				<a class="plt-cnt-img"><img src="../../resource/img/index/5000_img.png"></a>
			</div>
			<div class="box-btn-wrap">
				<a href="" class="btn">瀏覽套版</a>
			</div>
		</div>
		<a href="#program"
		class="arrow-wrap"
		><img src="../../resource/img/index/top_arrow.png" class="about-arrow"></a>
	</div>
	
	<div class="section program">
		<div class="wra-l sec-cnt flex-col-c">
			<div class="title-wrap">
				<p class="title">配套方案</p>
				<p class="title-dec">PROGRAM</p>
			</div>
			<div class="prg-cnt-wrap">
				<ul class="box-wrap">
					<li class="box-5">
						<ul class="prg-lst-wrap">
							<li class="prg-name">黃金套餐<br>1年</li>
							<li>
								<p class="prg-avgPrice">NTD$
									<span class="prg-avg">19</span><span class="prg-txt">/天</span>
								</p>
								<p class="prg-price">6,888/年</p></li>
							<li><a class="prg-btn" href="#">select</a></li>
							<li class="prg-lst">
								<span class="disable">RWD</span>網站服務<span class="block">(含RWD)</span><br>
								<span class="disable">容量</span>100GB<span class="block">(約十萬張圖片)</span><br>
								<span class="disable">本公司提供</span>網址<span class="block">(本公司提供)</span><br>
								                                美編<span class="disable">設計</span><span class="block">(Banner/Logo)</span>
							</li>
						</ul>
					</li>
					<li class="box-5">
						<ul class="prg-lst-wrap">
							<li class="prg-name">白金套餐<br>2年</li>
							<li>
								<p class="prg-avgPrice">NTD$
									<span class="prg-avg">16</span><span class="prg-txt">/天</span>
								</p>
								<p class="prg-price">11,688/年</p>
							</li>
							<li><a class="prg-btn">select</a></li>
							<li class="prg-lst">
								<span class="disable">RWD</span>網站服務<span class="block">(含RWD)</span><br>
								<span class="disable">容量</span>100GB<span class="block">(約十萬張圖片)</span><br>
								<span class="disable">本公司提供</span>網址<span class="block">(本公司提供)</span><br>
								                                美編<span class="disable">設計</span><span class="block">(Banner/Logo)</span>
								                                自訂網址<span class="block"> (.com)</span>
							</li>
						</ul>
					</li>
					<li class="box-5">
						<ul class="prg-lst-wrap">
							<li class="prg-name">夢想起步<br>
							                     新創促銷 (1年)
							</li>
							<li>
								<p class="prg-avgPrice">NTD$
									<span class="prg-avg">14</span><span class="prg-txt">/天</span>
								</p>
								<p class="prg-price">5,000/年</p>
							</li>
							<li><a class="prg-btn">select</a></li>
							<li class="prg-lst">
								<span class="disable">RWD</span>網站服務<span class="block">(含RWD)</span><br>
								<span class="disable">容量</span>100GB<span class="block">(約十萬張圖片)</span><br>
								<span class="disable">本公司提供</span>網址<span class="block">(本公司提供)</span><br>
							</li>
						</ul>
					</li>
					<li class="box-5 best">
						<div class="best-item">
							<img src="../../resource/img/icon/icon_crown.svg">
							<span class="block">最優惠！</span>
						</div>
						<ul class="prg-lst-wrap">
							<li class="prg-name">努力不懈<br>
							                     新創促銷 (2年)
							</li>
							<li>
								<p class="prg-avgPrice">NTD$
									<span class="prg-avg">14</span><span class="prg-txt">/天</span>
								</p>
								<p class="prg-price">10,000/年</p>
							</li>
							<li><a class="prg-btn">select</a></li>
							<li class="prg-lst">
								<span class="disable">RWD</span>網站服務<span class="block">(含RWD)</span><br>
								<span class="disable">容量</span>100GB<span class="block">(約十萬張圖片)</span><br>
								<span class="disable">本公司提供</span>網址<span class="block">(本公司提供)</span><br>
								                                美編<span class="disable">設計</span><span class="block">(Banner/Logo)</span><br>
								                                自訂網址<span class="block"> (.com)</span>
							</li>
						</ul>
					</li>
					<li class="box-5">
						<ul class="prg-lst-wrap">
							<li class="prg-name">永續經營<br>
							                     新創促銷 (3年)
							</li>
							<li>
								<p class="prg-avgPrice">NTD$
									<span class="prg-avg">14</span><span class="prg-txt">/天</span>
								</p>
								<p class="prg-price">15,000/年</p>
							</li>
							<li><a class="prg-btn">select</a></li>
							<li class="prg-lst">
								<span class="disable">RWD</span>網站服務<span class="block">(含RWD)</span><br>
								<span class="disable">容量</span>100GB<span class="block">(約十萬張圖片)</span><br>
								<span class="disable">本公司提供</span>網址<span class="block">(本公司提供)</span><br>
								                                美編<span class="disable">設計</span><span class="block">(Banner/Logo)</span><br>
								                                自訂網址<span class="block"> (.com)</span><br>
								                                Google關鍵字廣告
							</li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="box-btn-wrap">
				<a href="" class="btn">下載申請書</a>
			</div>
		</div>
		<a href="#portfolio"
		class="arrow-wrap"
		><img src="../../resource/img/index/top_arrow.png" class="about-arrow"></a>
	</div>
	
	<div class="section portfolio">
		<div class="wra-l sec-cnt flex-col-c">
			<div class="title-wrap">
				<p class="title">作品案例</p>
				<p class="title-dec">PORTFOLIO</p>
			</div>
			<div class="port-cnt">
				<ul class="box-wrap">
					<li class="box-3">
						<div class="box-img-wrap">
							<img src="../../resource/img/portfolio/portfolio_01.jpg" alt="dance">
						</div>
						<div class="box-cnt-wrap">
							<p class="box-title">PHC國際慈善舞團</p>
							<p class="box-txt">提供網頁設計及APP視覺，確保元素介面一致性，定義如何顯示錯誤警告狀態，使瀏覽步驟符合邏輯觀察使用者行為，檢查有無障礙</p>
						</div>
					</li>
					<li class="box-3">
						<div class="box-img-wrap">
							<img src="../../resource/img/portfolio/portfolio_02.jpg" alt="iami">
						</div>
						<div class="box-cnt-wrap">
							<p class="box-title">I AM I 社群平台</p>
							<p class="box-txt">提供網頁設計及APP視覺，確保元素介面一致性，定義如何顯示錯誤警告狀態，使瀏覽步驟符合邏輯觀察使用者行為，檢查有無障礙1111</p>
						</div>
					</li>
					<li class="box-3">
						<div class="box-img-wrap">
							<img src="../../resource/img/portfolio/portfolio_03.jpg" alt="ipush">
						</div>
						<div class="box-cnt-wrap">
							<p class="box-title">I-Push System</p>
							<p class="box-txt">提供網頁設計及APP視覺，確保元素介面一致性，定義如何顯示錯誤警告狀態，使瀏覽步驟符合邏輯觀察使用者行為，檢查有無障礙1111</p>
						</div>
					</li>
				</ul>
			</div>
			<div class="box-btn-wrap">
				<a href="" class="btn">更多作品</a>
			</div>
		</div>
		<a href="#contact"
		class="arrow-wrap"
		><img src="../../resource/img/index/top_arrow.png" class="about-arrow"></a>
	</div>
	
	<div class="section contact">
		<div class="wra-l sec-cnt flex-col-b">
			<div class="title-wrap">
				<p class="title">聯絡我們</p>
				<p class="title-dec">CONTACT</p>
			</div>
			<div class="contact-cnt">
				<ul class="box-wrap">
					<li class="box-2">
						<ul class="box-1 box-cnt-wrap">
							<li class="circle-wrap"><img src="../../resource/img/icon/icon_email.svg" alt="email"></li>
							<li class="">
								<p class="box-title">EMAIL US</p>
								<p class="box-txt"><a href="mailto:foronlytech@gmail.com">foronlytech@gmail.com</a></p>
							</li>
						</ul>
						<ul class="box-1 box-cnt-wrap">
							<li class="circle-wrap"><img src="../../resource/img/icon/icon_phone.svg" alt="phone"></li>
							<li class="">
								<p class="box-title">CALL US</p>
								<p class="box-txt">04-21234567</p>
							</li>
						</ul>
					</li>
					<li class="box-2">
						<p class="box-txt">關於專屬科技有限公司：</p>
						<p class="box-cnt">由各領域的專業人才所組成，提供系統網、UI等架設網站相
						                   關設計，替客戶量身打造專屬的網站我們擁有著實的技術能力與多年的實務經驗，除了技術上的支援，更能為您預先排除未來可能遭遇到的問題及阻礙。透過不斷的努力及改善，滿足期望</p>
					</li>
				</ul>
			</div>
			<div class="contact_bottom">
				專屬科技有限公司版權所有，未經授權禁止使用<br>IF ONLY TECH © 2018 All rights reserved.
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
    /*fullpage*/
    $(function () {
        $("#ido").fullpage(
            {
                continuousVertical: false,  //循環
                //綁定menu
                anchors: ['about', 'service', 'publicity', 'program', 'portfolio', 'contact'],
                menu: '.menu',
                navigation: true, // 顯示導行列
                navigationPosition: "left", // 導行列位置
                scrollingSpeed: 500,

                afterLoad: function (anchorLink, index) {

                    if (index == 1) {
                        $(".menu-ham").removeClass("open");
                        $(".menu-cnt").addClass("open");
                    }

                    else if (index > 1) {
                        $(".menu-ham").addClass("open");
                        $(".menu-cnt").removeClass("open");
                    }
                }

            });
    });

    /*slide Menu*/
    function openNav() {
        document.getElementById("mySidenav").style.right = "0";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.right = "-100vw";
    }
</script>

<!--include html set-->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<script>
    w3.includeHTML();
</script>
</body>
</html>

