.banner_info_wrap {
	width: 100%;
	max-width: 768px;
	padding: 50px 0 30px;
	margin: 0 auto;
}

.banner_info img{
	width: 100%;
	height: auto;
}

.banner_info{
	box-shadow: 0 4px 4px rgba(0,0,0,.5);
}

.banner_title {
	text-align: center;
	padding: 35px 0 30px;
}

.banner_title > span {
	display: inline-block;
	max-width: 200px;
	padding: 5px 48px;
	border-bottom: 4px solid var(--main-color);
	font-size: var(--font-size-l);
	color: var(--main-color);
}

.banner_cnt {
	font-size: var(--font-size-m);
	color: var(--sub-bk-color);
}

.banner_cnt > p {
	margin-bottom: 36px;
}

.banner_cnt_title{
	color: var(--main-color);
	display: block;
}

/*低於內容寬度*/
@media (max-width: 768px){
	.banner_info_wrap {
		padding: 0 0 30px;
	}

	.banner_info_wrap.terms{
		padding: 40px 0 30px;
	}

	.banner_cnt{
		font-size: var(--font-size-s);
		padding: 0 15px;
	}
}