/*carousel full screen*/
.main-pic {
	margin-top: var(--header-height);
}

.carousel-item {
	height: calc(100vh - var(--header-height) - var(--footer-height));
	/*min-height: 300px;*/
	background: no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.carousel-item a {
	cursor: pointer;
	height: 100%;
}

/*banner*/
/*zh-tw*/
.carousel-cnt1_zh-tw {
	background-image: url("/resource/img/carousel/index01_1920_zh-tw.jpg");
}

.carousel-cnt2_zh-tw {
	background-image: url("/resource/img/carousel/index02_1920_zh-tw.jpg");
}

.carousel-cnt3_zh-tw {
	background-image: url("/resource/img/carousel/index03_1920_zh-tw.jpg");
}

/*zh-cn*/
.carousel-cnt1_zh-cn {
	background-image: url("/resource/img/carousel/index01_1920_zh-cn.jpg");
}

.carousel-cnt2_zh-cn {
	background-image: url("/resource/img/carousel/index02_1920_zh-cn.jpg");
}

.carousel-cnt3_zh-cn {
	background-image: url("/resource/img/carousel/index03_1920_zh-cn.jpg");
}

/*english*/
.carousel-cnt1_english {
	background-image: url("/resource/img/carousel/index01_1920_english.jpg");
}

.carousel-cnt2_english {
	background-image: url("/resource/img/carousel/index02_1920_english.jpg");
}

.carousel-cnt3_english {
	background-image: url("/resource/img/carousel/index03_1920_english.jpg");
}

@media screen and (max-width: 414px) {
	/*zh-tw*/
	.carousel-cnt1_zh-tw {
		background-image: url("/resource/img/carousel/index01_414_zh-tw.jpg");
	}

	.carousel-cnt2_zh-tw {
		background-image: url("/resource/img/carousel/index02_414_zh-tw.jpg");
	}

	.carousel-cnt3_zh-tw {
		background-image: url("/resource/img/carousel/index03_414_zh-tw.jpg");
	}

	/*zh-cn*/
	.carousel-cnt1_zh-cn {
		background-image: url("/resource/img/carousel/index01_414_zh-cn.jpg");
	}

	.carousel-cnt2_zh-cn {
		background-image: url("/resource/img/carousel/index02_414_zh-cn.jpg");
	}

	.carousel-cnt3_zh-cn {
		background-image: url("/resource/img/carousel/index03_414_zh-cn.jpg");
	}

	/*english*/
	.carousel-cnt1_english {
		background-image: url("/resource/img/carousel/index01_414_english.jpg");
	}

	.carousel-cnt2_english {
		background-image: url("/resource/img/carousel/index02_414_english.jpg");
	}

	.carousel-cnt3_english {
		background-image: url("/resource/img/carousel/index03_414_english.jpg");
	}
}

.carousel-indicators li {
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background: var(--sub-font-color);
	margin-right: 5px;
	margin-left: 5px;
}

.carousel-indicators li.active {
	background: var(--sub-bk-color);
}

.carousel-control-next,
.carousel-control-prev {
	opacity: 1;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
	opacity: 1;
}

.carousel-control-next-icon {
	background-image: url("/resource/img/carousel/icon-carousel-arrow.svg");
	filter: drop-shadow(0 2px 2px #000);
}

.carousel-control-prev-icon {
	background-image: url("/resource/img/carousel/icon-carousel-arrow.svg");
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	filter: drop-shadow(0 -2px 2px #000);
}