/*modify jquery ui*/
.ui-selectmenu-button.ui-button {
	width: 100%;
	background: transparent;
	border: none;
	border-radius: 0;
	position: relative;
	border-bottom: 1px solid var(--sub-font-color);
}

.ui-selectmenu-button.ui-button:active,
.ui-selectmenu-button.ui-button:focus {
	outline: none;
	border-bottom: 1px solid var(--sub-font-color);
}

.ui-widget.ui-widget-content {
	border: 1px solid #c5c5c5;
	background: var(--sub-color);
	color: #fff;
	padding: 0 15px 7px;
	margin-top: 4px;
}

.ui-menu .ui-menu-item {
	padding: 7px 0;
	border-bottom: 1px solid #fff;
	font-size: var(--font-size-m);
}

.ui-button:active {
	border: none;
	background: transparent;
	font-weight: normal;
	color: var(--main-color);
}

.ui-selectmenu-text {
	color: var(--sub-bk-color);
	padding: 10px 0;
	font-size: var(--font-size-m);
}

.ui-state-active, .ui-widget-content .ui-state-active {
	border: none;
	background: transparent;
	color: var(--main-color);
}

.ui-menu .ui-menu-item-wrapper {
	padding: 0;
}

.ui-button {
	padding: 0;
}

.ui-state-disabled,
.ui-widget-content .ui-state-disabled,
.ui-widget-header .ui-state-disabled {
	opacity: 1;
	color: var(--main-color);
}

.ui-button .ui-icon,
.ui-state-active .ui-icon,
.ui-button:active .ui-icon,
.ui-state-hover .ui-icon,
.ui-button:hover .ui-icon,
.ui-state-focus .ui-icon,
.ui-button:focus .ui-icon {
	background: url("../img/icon-arrow.svg") no-repeat !important;
	background-size: 12px !important;
}

.ui-button .ui-icon {
	position: absolute;
	top: 16px;
	right: 0;
	display: inline-block;
}
