.hot-video-title {
	width: 100%;
	margin: 0px auto 0;
	display: block;
}
.hot-video-title > h4 {
	color: #f8b551;
	margin: 0px 0 20px;
	line-height: 36px;
	border-bottom: 2px solid #f8b551;
	width: 100%;
	height: auto;
}
 
.h-video-items-wrap {
	width: 100%!important;
}
.h-video-clip {
	clear: both;
	margin: 0 0 15px;
}
.h-video-item-name {
	margin-top: 10px;
}
.h-video-item-min {
	margin-top: -10px
}
.items-txt {
	margin: 20px 0 5px;
}
.hv-photo-wrap {
	float: left;
	width: 60px;
}
.hv-item-wrap {
	float: right;
	width: calc(100% - 75px);
}
.items-cnt {
	padding: 0;
	margin-top: -10px;
}
.items-like-wrap {
	padding: 20px 15px 0 12px;
}
.items-tool {
	padding: 12px 0 0;
}

@media screen and (max-width: 480px) {
.items-name-wrap {
	padding: inherit;
}
.cnt-photo-wrap {
	position: absolute;
	top: inherit;
	left: inherit;
}
.items-txt {
	margin: 0;
	padding: inherit;
}
}

