/*.header-left, .header-middle, .header-right {padding:8px 0 0;}*/


/* ------------------ Banner ------------------- */

.videobanner {
	width: 100%;
	height: auto;
	margin: 60px 0 0 0;
	padding: 20px 10px 20px;
	background-image: linear-gradient(to top, #1d1d1d, #343434);
	display: flex;
}
.logo_left {
	width: 10%;
	margin: 0 50px 0 60px;
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}
.logo_left img {
	width: auto;
	height: auto;
}
.logo_right {
	width: 15%;
	margin: 0 30px;
	display: inline-flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	float: right;
}

@media (max-width:1023px) {
.logo_left {
	display: none;
}
.logo_right {
	display: none;
}
}
.banner-center {
	margin: 0 auto 0 0px;
	width: 65%;
	display: inline-flex;
	position: relative;
}

@media (max-width:1024px) {
.banner-center {
	width: 100%;
}
}
/* ------------------------Masonry-------------------- */

.row {
	-moz-column-width: 18em;
	-webkit-column-width: 18em;
	-moz-column-gap: 1em;
	-webkit-column-gap: 1em;
}
.item {
	display: inline-block;
	padding: .25rem;
	width: 100%;
}
.well {
	position: relative;
	display: block;
	/*20180307 add*/
	border-radius: 10px;
	overflow: hidden;
}
.video-wall {
	width: 80%;
	max-width: 1049px;
	margin: 10px auto 40px auto;
}
.video-container {
	position: relative;
	padding-bottom: 56.25%;
	/*16:9是56.25%，4:3是75%*/
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}
.video-container iframe, .video-container object, .video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
.video-title {
	margin: 5px 0;
}
