@charset "utf-8";
/* CSS Document */

.language{
	line-height:16px;
	letter-spacing:2px;
	list-style-type:none;
	z-index:500;
	float: right;
	position:relative;
}
.language, .language li, .language ul, a{
    margin: 0;
    padding: 0;
	letter-spacing:2px;
    text-decoration: none;
    list-style: none;
}
.language li{
	position:relative;/*接下來要有下拉選單，讓定位點有參考*/
	float:left;/*橫向拓展*/
	padding-right:10px;
}
.language li li {
	width:auto;
	padding-right:0;
}
.language li a{
    font-size:12px;
	display: block;
	padding: 3px;
    color: #fff;
}
.language > li > a:hover{/*針對第一層選單 hover 時做顏色變化*/
    color:#FFF;
}
.language li ul{
	z-index:5000;
}
.language li ul{
    display: none;
    float:left;
    list-style-type:none;
	text-decoration: none;
	position: absolute;
    left: 0;    
    margin: 0;
    background: url(../ImagesM/bg-transparent.png);
}
/* 當第一層選單被觸發時，指定第二層顯示 */
.language li:hover > ul{
    display: block;
}
/* 特定在第二層或之後下拉部分 li 之樣式 */
.language ul li{
    border-bottom: 0px solid #DDD;
}
/* 特定在第二層或之後下拉部分 li （最後一項不要底線）之樣式 */
.language ul li:last-child{
    border-bottom: none;
}
.language li ul li a {
	width:30px;
	padding:5px;
    color: #d6d6d6;
	display:block;
	font-weight:100;
	letter-spacing:1px;
}
