@charset "utf-8";
/* CSS Document */

body {
    font-family: Arial, Helvetica, sans-serif;
	margin:0;
}

.hyperlink_default {
    font-size: 13px;
    color: #003399;
    letter-spacing: 2px;
    line-height: 1.8;
    text-decoration: underline;
}


.line1, .slide, .line2, .bottom, .line3, .line4, .text_slide {
    width: 100%;
    margin: 0px auto;
}

/*content default style*/
 /*.content {
    background: #FFF;
    margin: 47px auto;padding-bottom: 60px;
    width: 100%;
}*/

.content_row {
    width: 968px;
    height: 116px;
    margin-bottom: 12px;
}

.content_left, .content_right {
    width: 310px;
    height: 116px;
    overflow: hidden;
    background: #87CEFF;
}


.slide_content, .content_content, .bottom_content, .line4_content, .text_slide_content {
    /*width:1200px;*/
    margin: 0px auto;
}







.rightside {
    width: 50%;
    float: right;
}

.rightside_up {
    float: right;
    margin-top: 62px;
}

.bgcolor1 a {
    display: block;
    background: #333;
}

    .bgcolor1 a:hover {
        display: block;
        background: #6D6D6D;
    }

.bgcolor2 a {
    display: block;
    background: #9B0004;
}

    .bgcolor2 a:hover {
        display: block;
        background: #FF0F15;
    }

.bgcolor3 {
    background: #999;
}

.bgcolor4 {
    background: #d9e7f6;
}

.bgcolor5 {
    background: #FF0F15;
}

.nav, .nav_content {
    min-height: 30px;
    /*background: #333;*/
}

.line1 {
    height: 2px;
    background: #F20006;
}

.line2 {
    height: 1px;
    background: #4C4C4C;
}

.content_left img, .content_right img {
    display: inline-block;
    border: 0px;
}

.content_left a, .content_right a {
    color: #000;
}

.content_left {
    float: left;
}

.content_right {
    float: left;
    margin-left: 19px;
    z-index: 1;
}

.content_img, .logo3 {
    margin: 15px;
}

    .logo3 img {
        border: 0;
        height: 28px;
        margin: 9px 5px 0 0;
    }

.content_left ul, .content_right ul {
    padding: 0px 0px 0px 15px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.15em;
    list-style-type: none;
}

    .content_left ul li img, .content_right ul li img {
        width: 12px;
        height: 12px;
    }

.content_left li, .content_right li {
    font-size: 10px;
    line-height: 18px;
    letter-spacing: 0.1em;
    list-style-type: none;
}


.line3 {
    height: 1px;
    background: #CCC;
}



/*.bottom {
	position: relative;
	margin-top: -60px;
}*/



.bottom, .bottom .bottom_content {
    height: 60px;
    background: #000;
}

    .bottom .bottom_content .bottom_left, .bottom .bottom_content .bottom_right {
        float: left;
        height: 45px;
    }

    .bottom .bottom_content .bottom_left {
        width: 50%;
        border-right: 1px #333 solid;
        padding-left: 6px;
    }

    .bottom .bottom_content .bottom_right {
        padding-left: 19px;
    }



.bottom_v, .bottom_v .bottom_content_v {
    height: 120px;
    background: #000;
}

    .bottom_v .bottom_content .bottom_left, .bottom_v .bottom_content .bottom_right {
        width: 100%;
        height: 45px;
    }

    .bottom_v .bottom_content .bottom_left {
        /*width:50%;
	border-right:1px #333 solid;*/
        padding-left: 6px;
    }

    .bottom_v .bottom_content .bottom_right {
        padding-left: 19px;
    }




.line4 {
    height: 6px;
    background: #4e0000;
}

.line4_content {
    height: 6px;
    background: url(img05.png) repeat-y;
}



.text_slide {
    height: 30px;
    background: #616161;
}

.text_slide_content {
    height: 30px;
    font-size: 12px;
    color: #FFF;
    letter-spacing: 0.2em;
    line-height: 30px;
    position: relative;
    overflow: hidden; /* 超出範圍的部份要隱藏 */
    /*border: 1px solid #ccc;*/
}

    .text_slide_content ul, .text_slide_content li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .text_slide_content ul {
        position: absolute;
    }

        .text_slide_content ul li a {
            display: block;
            overflow: hidden; /* 超出範圍的部份要隱藏 */
            /*font-size:12px;
	height: 25px;
	line-height: 25px;*/
            text-decoration: none;
            color: white;
        }

.div_slide, .div_up, .div_down {
    width: 310px;
    height: 116px;
}

.div_slide {
    -moz-transition: margin-top .5s ease-out;
    -webkit-transition: margin-top .5s ease-out;
    -o-transition: margin-top .5s ease-out;
    -ms-transition: margin-top .5s ease-out;
}

    .div_slide:hover {
        margin-top: -131px;
    }

.div_down {
    position: relative;
}

    .div_up img, .div_down img {
        border: 0px;
    }

.div_up ul li.title span {
    font-size: 15px;
}

/*page title bold font style*/
.page_title_font_black {
    font-size: 15px;
    color: #1F1F1F;
    letter-spacing: 2px;
	padding-bottom:10px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*title bold font style*/
.title_font_black {
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*title bold font style*/
.title_font_red {
    font-size: 13px;
    color: #990000;
    letter-spacing: 2px;
    font-weight: bold;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

/*bottom  font style*/
.bottom_font {
    -webkit-text-size-adjust: none;
    font-size: 10px;
    letter-spacing: 1px;
    color: #FFF;
    padding-top: 15px;
}

/*section general font style*/
.section_content_general_font {
    font-size: 13px;
    color: #404040;
    letter-spacing: 2px;
    line-height: 1.8;
}
/*section import font style*/
.section_content_import_font {
    font-size: 13px;
    color: #990000;
    letter-spacing: 2px;
    line-height: 1.8;
}

/*sectuon descript font style*/
.section_content_des_font {
    font-size: 13px;
    color: #999999;
    letter-spacing: 2px;
    line-height: 1.8;
}

/*hyperlink font style(blue,underline)*/
.link_font_blue_underline {
    font-size: 13px;
    color: #003399;
    letter-spacing: 2px;
    line-height: 1.8;
    text-decoration: underline;
}

.div_table {
    display: table;
}

/*for table row*/
.div_table_tr {
    display: table-row;
    clear: both;
}

/*for table cell*/
.div_table_td {
    display: table-cell;
    height: 20px;
    width: 150px;
    /*float: left;*/
}

/*for table title row*/
.div_table_title_td {
    height: 20px;
    width: 150px;
    float: left;
    border-style: none;
    border-width: 0px;
    padding: 15px;
    vertical-align: middle;
    color: #fff;
}


/*************middle**************/
.middle:before {
    content: '';
    width: 0px;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.middle * {
    display: inline-block;
    vertical-align: middle;
}
/*************middle**************/


/*for FAQ slidetoggle*/
.slide_toggle {
    cursor: pointer;
}

    .slide_toggle + div {
        display: none;
    }
/*for FAQ slidetoggle*/


/*for Error Message Font Style*/
.errcode {
    color: #f00;
    font-size: small;
}



/*no useing start*/
.btnstyle1 {
    width: 193px;
    height: 27px;
    text-align: center;
    line-height: 27px;
    margin-left: 20px;
    float: right;
}

    .btnstyle1 a {
        font-size: 12px;
        color: #FFF;
        text-decoration: none;
    }

.divstyle2, .divstyle3 {
    font-size: 14px;
    letter-spacing: 0.1em;
    margin: 15px 5px 0px 15px;
    float: left;
}

.divstyle1 {
    font-size: 12px;
    letter-spacing: 0.1em;
    padding: 35px 30px;
}

.divstyle2 {
    margin: 15px 5px 0px 15px;
}

.divstyle3 {
    margin: 15px 5px 0px 5px;
}

.font_style2 {
    font-size: 12px;
    padding-left: 30px;
}

.font_style3 {
    font-size: 12px;
    padding: 0px 15px;
}

.font_style4 {
    color: #FFF;
}

.font_style5 {
    color: #FFF;
    font-weight: 700;
}

.h1 {
    font-size: 12px;
    letter-spacing: 0.15em;
    line-height: 22px;
    padding-left: 15px;
    padding-top: 15px;
}

.h2 {
    font-size: 12px;
    letter-spacing: 0.1em;
    line-height: 18px;
    padding: 8px 15px;
}

.h3 {
    font-size: 12px;
    letter-spacing: 0.15em;
    line-height: 22px;
    padding: 15px 15px;
}
/*no useing end*/
