input, textarea, select{
	font-family:\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4, Arial, sans-serif;
	color:#000;
	font-size:14px;
	border:solid 0 #fff;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin:0;
}
input:focus, textarea:focus, select:focus{
	border-color: #ffea00;
	box-shadow: 0 0 4px #008bff;
	}
select{
	padding:10px;
	width:100%;
	border:1px solid #000;
}
input[type="text"]{
	padding:10px;
	width:100%;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:1px solid #000;
}
input[type="checkbox"]{
	/*vertical-align: middle;*/
	margin:5px 0;
	padding:0;
	background: none !important;
}
input[type="submit"]{
	padding:10px 25px;
	font-size:14px;
	color:#fff;
	font-weight:bold;
	letter-spacing:0.03em;
	margin:0;
	/*cursor:pointer;*/
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #145993;
	box-shadow:inset 1px 1px 0px 0px #008bff;
	margin:20px 0 0;
	background:-moz-linear-gradient( center top, #009cec 5%, #006edb 100% );
	background:-ms-linear-gradient( top, #009cec 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#009cec', endColorstr='#006edb');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #009cec), color-stop(100%, #006edb) );
	background-color:#006edb;
	display:inline-block;

}

.demo_ul{
	background:url(../ImagesM/bg-line-dark.jpg) repeat;
	display:block;
	padding:30px 10px 45px;
	text-align:center;
}

.demo_ul li{
	width:100%;
	margin:0 auto;
	list-style:none;
	padding:5px 0;
	box-sizing:border-box;
	color:#fff;
	font-size:14px;
	letter-spacing:0.05em;
}
.demo_ul li:first-child{
	text-align:center;
	font-size:22px;
	letter-spacing:0em;
	font-family: Arial, sans-serif,\5FAE\8EDF\6B63\9ED1\9AD4,\65B0\7D30\660E\9AD4;
}
.demo_ul li:last-child{
	text-align:center;
}


@media only screen and (max-width: 767px){
input, textarea, select{
	font-size:12px;
}	
.demo_ul li:first-child{
	font-size:18px;
}
input[type="submit"]{
	font-size:12px;

}

}