<div class = "about_container">
	<div class="about_mainBg"></div>
	<div class="about_mainPic">
		<img ng-src="view/images/about/PHC-about_banner.jpg">
		<div class="about_main_hr1"> <hr> </div>
		<div class="about_main_text"> <span> {{albumTitle}} </span> </div>
		<div class="about_main_hr2"> <hr> </div>
	</div>
	<div class="about_content">
		<p>PHC 國際慈善舞團成立於 2017 年，是一個抱持著回饋社會、共同分享、共同成長，期望培養對舞蹈表演藝術有興趣的	孩子，並開發國內藝術專業領域而成立的新舞團。	舞團在演出之餘還有多項的舞蹈專業培訓課程，讓興趣不只是興趣，共同提升體能與技能，進而擁有對外競爭的條件及相關知識。</p>
			<br>
			<p>PHC 舞團核心宗旨以『家庭』為出發點，期盼帶給喜歡舞蹈藝術的孩子們希望、關懷與成長，藉此培育更優秀的專業舞蹈人才。舞團不定期且長期配合商業演出、公益演出，並會將演出收入全數捐贈給各大社福機關團體，為社會盡最大一份心力。</p>
			<p>我們強調：專業度、安全性、高服務、好品質。並期許舞團與孩子們一起成長一起前進，迎向更美好燦爛的未來。</p>

			<br>
			<p>舞蹈是一門藝術，用身體說話、表達情緒、帶給人們對於美的感知與展現，為生活融入更多美好的元素。</p>
			<br>
			<p>普惠世紀的核心價值-【家庭】</p>
			<br>
			<p>而”舞團就是一個家”。所以 PHC 國際慈善舞團提供舒適的舞蹈排練空間、專業的授課內容，注重訓練過程中的絕對安全性，為團員舞者們，持續提供發光發熱無後顧之憂的舞台。</p>

			<p>孩子是塊璞玉，經過培養琢磨終將成瑰寶。希望透過舞蹈藝術，期盼帶給喜歡舞蹈的孩子們希望、關懷與成長，藉此培育更優秀的專業舞蹈人才，提供舞台展現自信。 </p>
	</div>
</div>
