<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="apple-touch-icon" href="../../resource/img/favicon/touchicon.png">
<link rel="icon" href="../../resource/img/favicon/favicon.png">
<!--[if IE]><link rel="shortcut icon" href="../../resource/img/favicon/favicon.ico"><![endif]-->

<title>ForOnlyTec</title>
<link href="../../resource/plugin/fullPage/fullpage.min.css">
<script src="../../resource/plugin/jquery/jquery-1.11.3.min.js"></script>
<!--fullPage-->

<script src="../../resource/plugin/fullPage/fullpage.min.js"></script>