body {
    font-family: Open Sans, sans-serif, Microsoft JhengHei !important;
    font-size: 14px;
}

a {
    color: #09F;
    text-decoration: underline;
}

    a:hover {
        color: #03F;
        text-decoration: none;
    }

.Usg-Header {
    background-color: #006185;
    height: 100px;
}

.Usg-Header-logo {
    width: 20%;
    float: left;
    vertical-align: middle;
    padding-top: 9px;
}

    .Usg-Header-logo img {
        width: 200px;
    }

.Usg-Header-bb {
    width: 80%;
    float: left;
    text-align: right;
    color: #FFF;
    padding-top: 68px;
    margin-bottom: 10px;
}

.Usg-Header-box {
    display: inline-block;
    font-size: 16px;
    margin-right: 15px;
}

    .Usg-Header-box a {
        color: #FFF;
        padding-right: 10px;
        text-decoration: none;
        margin-bottom: 0px;
    }

        .Usg-Header-box a:hover {
            color: #0EA9E2;
        }


/* ==========================================================================
   Content
   ========================================================================== */
.Usg-content {
    display: block;
    /*padding-tottom: 65px;*/
    padding-top: 65px;
}

.Usg-content-img {
    display: inline-block;
}

.Usg-content-title {
    display: inline-block;
    font-size: 18px;
    text-align: center;
}

.red {
    font-size: 28px;
    font-weight: bold;
    color: #C00;
}

.blue {
    color: #09F;
    font-weight: lighter;
}

.black {
    font-size: 24px;
    font-weight: bold;
    color: #000;
    line-height: 20px;
}

/* ==========================================================================
   Content-yellow
   ========================================================================== */
.Usg-content-yellow {
    font-size: 18px;
    display: block;
    background-color: #fffde6;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* ==========================================================================
   Content-step
   ========================================================================== */
.Usg-content-step {
    font-size: 18px;
    display: block;
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 50px;
}

/* ==========================================================================
   footer
   ========================================================================== */
.Usg-footer {
    background-color: #434343;
}

.Usg-footer-title {
    font-size: 14px;
    color: #FFF;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
}

/*圖片自動縮放大小*/
.Usg_fx {
    display: block;
    max-width: 100%;
    height: auto;
}
