<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>P H C 國際慈善舞團</title>
	
	<link rel="icon" href="view/images/index/dance.png">
	<link rel="stylesheet" href="view/css/theme.css">
	<link rel="stylesheet" href="view/css/index-theme.css">
	<link rel="stylesheet" href="view/css/about-theme.css">
	<link rel="stylesheet" href="view/css/activity-theme.css">
	<link rel="stylesheet" href="view/css/lesson-theme.css">
	<link rel="stylesheet" href="view/css/teacher-theme.css">
	<link rel="stylesheet" href="view/css/join-theme.css">
	<link rel="stylesheet" href="view/css/bootstrap-slider.css">
	<link rel="stylesheet" href="view/css/font-awesome.min.css">
	<!--For Slider-->
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!--For Slider end-->
	
	<!--For 3dSlider-->
	<script type="text/javascript" src="view/js/modernizr.custom.js"></script>
	<script type="text/javascript" src="view/js/jquery.gallery.js"></script>
	<!--For 3dSlider end-->
	<!--<script type="text/javascript" src="view/js/jquery.slides.min.js"></script>-->
	<link type="text/css" rel="stylesheet" href="view/css/jquery.mmenu.css"/>
	<script type="text/javascript" src="view/js/jquery.mmenu.js"></script>
	<script type="text/javascript">
        $(function () {
            $('div#menu').mmenu();
        });
	</script>
</head>

<body>
<div id="id_wrapper">
	<a href="" ng-click="ClickTop()"><img id="goTopButton" src="view/images/index/go-top.png" class="index_TopBtn" ng-show="TopFlag=='1'"></a>
	<div class="mobile_Header_Container">
		<div class="container_Small">
			<div id="page" class="container_Full">
				<div class="mobile_Header txt_Small">
					<div class="mobile_Header_Menu"><a href="#menu" class="mobile_Header_Ham"><span></span></a></div>
					<div class="mobile_Header_Logo"><a href="#/index"><img src="view/images/index/mobile_dance.png"></a>
					</div>
					<div class="mobile_Header_LangEx">
						<a href="#" class="langActive" ng-class="TwFont">繁<span>體</span></a><span class="coloracacac">|</span>
						<a href="#" ng-class="ChFont">简<span>体</span></a></div>
				</div>
				<div id="menu" class="txt_Std">
					<ul>
						<li><a href="#/about" ng-click="">舞團介紹</a></li>
						<li><a href="#">課程介紹 </a>
							<ul class="nav_Sub_Menu">
								<li><a href="#/lesson/1">課程介紹</a></li>
								<li><a href="#/lesson/2">舞團課表</a></li>
							</ul>
						</li>
						<li><a href="#/teacher/origin">師資介紹</a></li>
						<li><a href="#"> 活動相本 </a>
							<ul>
								<li><a href="#/activity/1">舞團相本</a></li>
								<li><a href="#/activity/2">活動相本</a></li>
							</ul>
						</li>
						<li><a href="#">預約報名</a>
							<ul>
								<li><a href="#">課程報名</a></li>
								<li><a href="#/join">甄選報名</a></li>
							</ul>
						</li>
						<li><a href="#">聯絡我們</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="header_Container">
		<div class="container_Small">
			<div class="container_Full txt_Small">
				<div class="header_Info color464646">
					<ul>
						<li><a><img src="view/images/index/phoneIcon.png"><span>+ 886 423890466</span></a></li>
						<li><a><img src="view/images/index/urlIcon.png"><span>河南路四段718號</span></a></li>
						<li><a href="mailto:Phc.dancestudio@gmail.com"><img src="view/images/index/emailIcon.png"><span>Phc.dancestudio@gmail.com</span></a>
						</li>
						<li>
							<a href="https://www.facebook.com/PHCDanceStudio/" target="_blank"><img src="view/images/index/fb.png" class="header_Icon"></a>
						</li>
					</ul>
				</div>
				<div class="header_LangEx">
					<a href="#" class="langActive" ng-class="TwFont">繁體中文</a><span class="coloracacac">|</span>
					<a href="#" ng-class="ChFont">简体中文</a></div>
			</div>
		</div>
	</div>
	<div class="nav_Container" id="index">
		<div class="container_Small">
			<div class="container_Full">
				<div class="nav_Menu_Wrap txt_Std">
					<nav class="nav_Menu">
						<ul class="nav_Clearfix">
							<li><a href="#/about" ng-click="">舞團介紹</a></li>
							<li><a href="#">課程介紹 </a>
								<ul class="nav_Sub_Menu">
									<li><a href="#/lesson/1">課程介紹</a></li>
									<li><a href="#/lesson/2">舞團課表</a></li>
								</ul>
							</li>
							<li><a href="#/teacher/origin">師資介紹</a></li>
							<li><a href="#/index" class="nav_Logo"><img src="view/images/index/dance.png"></a></li>
							<li><a href="#"> 活動相本 </a>
								<ul class="nav_Sub_Menu">
									<li><a href="#/activity/1">舞團相本</a></li>
									<li><a href="#/activity/2">活動相本</a></li>
								</ul>
							</li>
							<li><a href="#">預約報名</a>
								<ul class="nav_Sub_Menu">
									<li><a href="#">課程報名</a></li>
									<li><a href="#/join">甄選報名</a></li>
								</ul>
							</li>
							<li><a href="#">聯絡我們</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</div>
	<div class="index_Slider_Container">
		<div class="container">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<!-- Indicators -->
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
					<li data-target="#myCarousel" data-slide-to="3"></li>
				</ol>
				<!-- Wrapper for slides -->
				<div class="carousel-inner color231f20">
					<div class="item active index_Slider_Pic1">
						<!--<img src="view/images/index/PHC_02.jpg" alt="index1">-->
						<div class="carousel-caption">
							<p class="title_XLarge">PHC 國際慈善舞團</p>
							<hr class="hrStyle">
							<p class="txt_Std">專業度、安全性、高服務、好品質<br>
							                   並期許舞團與 孩子們一起成長一起前進,迎向更美好燦爛的未來</p>
							<a href="#" class="title_Mid">瞭解更多</a></div>
					</div>
					<div class="item index_Slider_Pic2"><!--<img src="view/images/index/PHC_02.jpg" alt="index2">-->
						<div class="carousel-caption">
							<p class="title_XLarge">PHC 國際慈善舞團</p>
							<hr class="hrStyle">
							<p class="txt_Std">專業度、安全性、高服務、好品質<br>
							                   並期許舞團與 孩子們一起成長一起前進,迎向更美好燦爛的未來</p>
							<a href="#" class="title_Mid">瞭解更多</a></div>
					</div>
					<div class="item index_Slider_Pic3"><!--<img src="view/images/index/PHC_02.jpg" alt="index2">-->
						<div class="carousel-caption">
							<p class="title_XLarge">PHC 國際慈善舞團</p>
							<hr class="hrStyle">
							<p class="txt_Std">專業度、安全性、高服務、好品質<br>
							                   並期許舞團與 孩子們一起成長一起前進,迎向更美好燦爛的未來</p>
							<a href="#" class="title_Mid">瞭解更多</a></div>
					</div>
					<div class="item index_Slider_Pic4"><!--<img src="view/images/index/PHC_02.jpg" alt="index2">-->
						<div class="carousel-caption">
							<p class="title_XLarge">PHC 國際慈善舞團</p>
							<hr class="hrStyle">
							<p class="txt_Std">專業度、安全性、高服務、好品質<br>
							                   並期許舞團與 孩子們一起成長一起前進,迎向更美好燦爛的未來</p>
							<a href="#" class="title_Mid">瞭解更多</a></div>
					</div>
				</div>
				
				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
					<span class="Chevron-left"><i class="fa fa-chevron-left"></i></span>
					<span class="sr-only">Previous</span> </a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">
					<span class="Chevron-right"><i class="fa fa-chevron-right"></i></span>
					<span class="sr-only">Next</span> </a></div>
		</div>
	</div>
	<div class="index_container">
		<div class="index_Row1 color231f20">
			<div class="container_Middle">
				<div class="container_Full clearfix">
					<div class="index_Row1_info">
						<p class="title_Large">PHC 國際慈善舞團
						<hr class="hrStyle">
						</p>
						<p class="txt_Large"> PHC
						                      國際慈善舞團的核心宗旨以【家庭】出發點,期粉帶給喜歡舞蹈藝術的孩子們希望、關懷與成長，藉此培育更優秀的專業舞蹈人才。舞團不定期且長期配合商演、公演，並會將演出收入全數捐贈給各大社福機關團體,為社會盡最大一份心力。
						                      我們強調：專業度、安全性、高服務、好品質。並期許舞團與孩子們一起成長一起前進。 </p>
					</div>
					<div class="index_Row1_Img" ng-class="Row1ImgFlag">
						<div class="container">
							<div id="myCarousel2" class="carousel slide" data-ride="carousel">
								<!-- Indicators -->
								<ol class="carousel-indicators">
									<li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
									<li data-target="#myCarousel2" data-slide-to="1"></li>
									<li data-target="#myCarousel2" data-slide-to="2"></li>
									<li data-target="#myCarousel2" data-slide-to="3"></li>
								</ol>
								
								<!-- Wrapper for slides -->
								<div class="carousel-inner">
									<div class="item active"><img src="view/images/index/2.jpg"></div>
									<div class="item"><img src="view/images/index/3.jpg"></div>
									<div class="item"><img src="view/images/index/4.jpg"></div>
									<div class="item"><img src="view/images/index/5.jpg"></div>
								</div>
								
								<!-- Left and right controls -->
								<a class="left carousel-control" href="#myCarousel2" data-slide="prev">
									<span class="Chevron-left"><i class="fa fa-chevron-left"></i></span>
									<span class="sr-only">Previous</span> </a>
								<a class="right carousel-control" href="#myCarousel2" data-slide="next">
									<span class="Chevron-right"><i class="fa fa-chevron-right"></i></span>
									<span class="sr-only">Next</span> </a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="index_Row2 color231f20">
			<div class="container_Small">
				<div class="container_Full">
					<div class="index_Row2_area">
						<p class="title_Large">舞團介紹</p>
						<p class="index_Row2_Img"><img src="view/images/index/PHC_16.jpg"></p>
						<p class="txt_Large"> 舞團不定期且長期配合商演、公演、並會將演出收入全數捐贈給各大社福機關團體，為社會盡最大一份心力。
						                      我們強調：專業度、安全性、高服務、好品質。並期許舞團與孩子們一起成長一起前進。 </p>
						<p class="title_Mid">
							<a ui-sref="about" href="#/about"><img src="view/images/index/Row2-arrow.png">瞭解更多 </a></p>
					</div>
					<div class="index_Row2_area">
						<p class="title_Large">師資介紹</p>
						<p class="index_Row2_Img"><img src="view/images/index/PHC_10.jpg"></p>
						<p class="txt_Large"> 舞團不定期且長期配合商演、公演、並會將演出收入全數捐贈給各大社福機關團體，為社會盡最大一份心力。
						                      我們強調：專業度、安全性、高服務、好品質。並期許舞團與孩子們一起成長一起前進。 </p>
						<p class="title_Mid">
							<a ui-sref="teacher" href="#/teacher/"><img src="view/images/index/Row2-arrow.png">瞭解更多 </a>
						</p>
					</div>
					<div class="index_Row2_area">
						<p class="title_Large">課程介紹</p>
						<p class="index_Row2_Img"><img src="view/images/index/PHC_13.jpg"></p>
						<p class="txt_Large"> 舞團不定期且長期配合商演、公演、並會將演出收入全數捐贈給各大社福機關團體，為社會盡最大一份心力。
						                      我們強調：專業度、安全性、高服務、好品質。並期許舞團與孩子們一起成長一起前進。 </p>
						<p class="title_Mid">
							<a ui-sref="lesson" href="#/lesson/"><img src="view/images/index/Row2-arrow.png">瞭解更多 </a>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="index_Row3">
			<div id="index_Row3_container" class="index_Row3_container">
				<div class="index_Row3_container_wrap">
					<a href="#/activity/1">
						<img src="view/images/activity/1/63.jpg" ng-src="{{imgs[4３].image}}">
						<div class="txt_Std">{{imgsDate[selectIndex]}}<span class="txt_XLarge">{{imgsTitle[selectIndex]}}</span>
						</div>
					</a>
					<a href="#/activity/1">
						<img src="view/images/activity/1/63.jpg" ng-src="{{imgs[4].image}}">
						<div class="txt_Std">{{imgsDate[selectIndex]}}<span class="txt_XLarge">{{imgsTitle[selectIndex]}}</span>
						</div>
					</a>
					<a href="#/activity/1">
						<img src="view/images/activity/1/63.jpg" ng-src="{{imgs[4].image}}">
						<div class="txt_Std">{{imgsDate[selectIndex]}}<span class="txt_XLarge">{{imgsTitle[selectIndex]}}</span>
						</div>
					</a>
					<a href="#/activity/1">
						<img src="view/images/activity/1/63.jpg" ng-src="{{imgs[4].image}}">
						<div class="txt_Std">{{imgsDate[selectIndex]}}<span class="txt_XLarge">{{imgsTitle[selectIndex]}}</span>
						</div>
					</a>
					<a href="#/activity/1">
						<img src="view/images/activity/1/63.jpg" ng-src="{{imgs[4].image}}">
						<div class="txt_Std">{{imgsDate[selectIndex]}}<span class="txt_XLarge">{{imgsTitle[selectIndex]}}</span>
						</div>
					</a>
					<a href="#/activity/1">
						<img src="view/images/activity/1/63.jpg" ng-src="{{imgs[4].image}}">
						<div class="txt_Std">{{imgsDate[selectIndex]}}<span class="txt_XLarge">{{imgsTitle[selectIndex]}}</span>
						</div>
					</a>
					<a href="#/activity/1">
						<img src="view/images/activity/1/63.jpg" ng-src="{{imgs[4].image}}">
						<div class="txt_Std">{{imgsDate[selectIndex]}}<span class="txt_XLarge">{{imgsTitle[selectIndex]}}</span>
						</div>
					</a>
				</div>
				<nav><span class="index_Row3_prev"> </span> <span class="index_Row3_next"> </span></nav>
			</div>
		</div>
		<div class="index_Row4">
			<div class="container_Small">
				<div class="container_Full">
					<div class="index_Row4_Join">
						<p class="title_Large"> 課程報名 </p>
						<hr class="hrStyle">
						<form ng-submit="normalJoin()">
							<input id="firstname" name="name" placeholder="姓名" type="text" required="" ng-model="name">
							<input id="lastname" name="name" placeholder="聯絡電話" type="text" required="" ng-model="phone">
							<input id="email" name="email" placeholder="Email" type="text" required="" ng-model="email">
							<select ng-model="lesson" ng-options="a.key as a.value for a in actions">
								<option value="">選擇課程</option>
							</select>
							<textarea id="messagge" name="messagge" placeholder="留言(200字以內)" required ng-model="message"></textarea>
							<button type="submit">馬上報名</button>
						</form>
					</div>
					<div class="index_Row4_Map">
						<p class="title_Large"> 聯絡我們 </p>
						<hr class="hrStyle">
						<ul class="title_Mid">
							<li>接受電話預約試跳、現場報名</li>
							<li><span>地址</span>台中市南屯區河南路四段718號</li>
							<li><span>電話</span>04-23890466</li>
							<li><span>傳真</span>04-23890465</li>
							<li><span>信箱</span>Phc.dancestudio@gmail.com</li>
						</ul>
						<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.7972263240163!2d120.63718505131448!3d24.143758284320356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34693dc6e57d90c3%3A0xbee40718a172de4f!2zNDA45Y-w5Lit5biC5Y2X5bGv5Y2A5rKz5Y2X6Lev5Zub5q61NzE46Jmf!5e0!3m2!1szh-TW!2stw!4v1499195253120"></iframe>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer_Container">
		<div class="ctn_68">
			<div class="container_Full footer_Txt txt_Std color231f20">Designed and Powered by PHC</div>
		</div>
	</div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('a').click(function () {
            $('a.langActive').removeClass('langActive');
            $(this).closest('a').addClass('langActive');
        });
    });

    $(function () {

        $('#index_Row3_container').gallery();
    });

</script>
</body>
</html>