.hot-post-title {
    width: 100%;
    margin: 0px auto 0;
    display: block;
}

.hot-post-title > h4 {
    /*color: #8361c2; /*0502*/
    margin: 0px 0 20px;
    line-height: 36px;
    border-bottom-width:2px;
    border-style:solid;
    /*border-bottom: 2px solid #8361c2; /*0520*/
    width: 100%;
    height: auto;
    background:none
}

/*----左側----*/
.h-tag-side {
    text-align: center;
}

.h-tag-side ul {
    margin: 0;
}

.tag-hot-post {
    /*color: #8361c2; /*0503*/
}

.tag-hot-post span {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.tag-hot-post li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
}

.tag-hot-post ul {
    display: inline-block;
}

.tag-hot-video {
    /*color: #8361c2; /*0503*/
}

.tag-hot-video span {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.tag-hot-video li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
}

.tag-hot-video ul {
    display: inline-block;
}

.tag-events {
    /*color: #8361c2; /*0503*/
}

.tag-events span {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.tag-events li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
}

.tag-events ul {
    display: inline-block;
}

.tag-clubs {
    /*color: #8361c2; /*0503*/
}

.tag-clubs span {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.tag-clubs li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
}

.tag-clubs ul {
    display: inline-block;
}