.live-show-title {
	width: 100%;
	margin: 0px auto 0;
	display: block;
}
.live-show-title > h4 {
	/*color: #8361c2; /*0503*/
	margin: 0px 0 20px;
	line-height: 36px;
	/*border-bottom: 2px solid #8361c2; /*0503*/
	width: 100%;
	height: auto;
}

@media (max-width: 768px) {
.live-show-title {
	width: 100%;
	min-width: 100%;
	padding: 0 10px;
}
}
.liveshow-cnt {
	padding: 0;
}
.liveshow-cnt .cnt-photo img{
	border-color: #fff;
}
.live-photo {
	width: 120px;
}
.live-show-info {
	margin: 40px 0 0 50px;
}
.live-show-info ul.items-name-wrap {
	margin: 0 0 0 80px;
}
.live-show-item {
	float: right;
	width: 50px;
}
.live-show-button {
	float: right;
	margin: -32px 0 0 0;
}
.live-show-button a {
	font-size: 1.2em;
	/*border: 1px solid #8361c2;
	color: #8361c2; /*0503*/
	padding: 8px 12px;
	border-radius: 50px
}
.liveshow-pic-cnt {
	width: 130px;
	height: 120px;
	float: left;
}
.liveshow-icon {
	width: 28px;
	height: 28px;
	background-size: 28px;
}
.edit-pic-cnt .liveshow-icon {
	top: 8px;
	right: 10px;
}
.award.icon-s {
	background-size: 16px;
	width: 16px;
	height: 24px;
}
/*-----直播畫面POP-----*/
.glightbox-clean .gslide-description {
	text-align: right;
	background: #000;
	color: #fff;
	font-size: 18px;
}
/*----左側----
.h-tag-side {
	text-align: center;
}
.h-tag-side ul {
	margin: 0;
}
.tag-hot-post {
	color: #f8b551;
}
.tag-hot-post span {
	display: inline-block;
	width: 30px;
	height: 30px;
}
.tag-hot-post li {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
}
.tag-hot-post ul {
	display: inline-block;
}
.tag-hot-video {
	color: #f8b551;
}
.tag-hot-video span {
	display: inline-block;
	width: 30px;
	height: 30px;
}
.tag-hot-video li {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
}
.tag-hot-video ul {
	display: inline-block;
}
.tag-events {
	color: #f8b551;
}
.tag-events span {
	display: inline-block;
	width: 30px;
	height: 30px;
}
.tag-events li {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
}
.tag-events ul {
	display: inline-block;
}
.tag-clubs {
	color: #f8b551;
}
.tag-clubs span {
	display: inline-block;
	width: 30px;
	height: 30px;
}
.tag-clubs li {
	display: inline-block;
	vertical-align: middle;
	height: 30px;
}
.tag-clubs ul {
	display: inline-block;
}
*/

@media screen and (min-width:901px) {
	.livelink-btn {display: none;}
	.applylive-btn {display: none;}
}

@media screen and (max-width:900px) {
	.ctn-middle {background:#fff;}
	.ctn-items {border-bottom: 1px solid #eee;}
	.box-wrap {margin:0;}

	.live-show-title > h4 {display: none;}


	.livelink-btn {border-radius:15px; margin:20px auto 15px; width:calc(100% - 10px); }
	.livelink-btn a {width:50%; /*border:2px solid #FBB03B;/*0503*/ margin:0 -3px 0; padding:5px;}
	.livelink-box, .flivelink-box,.a-hotlivelink-box,.a-fndlivelink-box {
		font-size: 16px; padding: 10px 28px; display: inline-block; text-align: center;
		vertical-align: middle; cursor: pointer; /*border: 2px solid #f3d87e;/*0503*/
		transition: all .4s;}

		.livelink-box.unpicked, .livelink-box.unpicked:active {
			/*background: linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e);/*0503*/
			border-radius: 0 4px 4px 0;color: #fff;}
		.livelink-box.picked, .livelink-box.picked:active {
			border-radius: 4px 0 0 4px;}

		.a-hotlivelink-box.wait, .a-hotlivelink-box.wait:active {
			border-radius: 4px 0 0 4px;}
		.a-fndlivelink-box.wait, .a-fndlivelink-box.wait:active {
			border-radius: 0 4px 4px 0;}

		.flivelink-box.picked, .flivelink-box.picked:active {
			border-radius: 0 4px 4px 0;}
		.flivelink-box.unpicked, .flivelink-box.unpicked:active {
			/*background: linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e);
			color: #fff;/*0503*/
			border-radius: 2px 0 0 2px;}

	.applylive-btn {border-radius:4px; margin:0px auto; width:calc(100% - 10px); }
	.applylive-btn a {width:100%; /*border:2px solid #FBB03B;/*0503*/ margin:0 -3px 0; padding:8px;}
	.applylive-btn.check {
		/*background: linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e);
		color: #fff;/*0503*/
		font-size: 16px; display: inline-block; text-align: center;
		vertical-align: middle; cursor: pointer; /*border: 2px solid #f3d87e;/*0503*/
		transition: all .4s;}

	.livelink-box:hover {
		color: #232323;transition: all .4s;}
	}

.s-applylive-btn {border-radius:10px; margin:0px auto; width:calc(100% - 0px); }
.s-applylive-btn a {/*border:2px solid #FBB03B;/*0503*/ margin:0 0; padding:10px;}
.side-applylive {width:100%;}
.s-applylive-btn.check {
	/*background: linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e);
	color: #fff; /*0503*/
	font-size: 20px; display: inline-block; text-align: center;
	vertical-align: middle; cursor: pointer; /*border: 2px solid #f3d87e;/*0503*/
	transition: all .4s;}

.apply-live-side-btn {margin:0 auto; width:calc(100% - 0px);}
.apply-live-side-btn a {border-radius:10px; /*border:2px solid #FBB03B;/*0503*/ padding:10px;}
.apply-live-side-btn.active {
	/*background: linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e);
	color: #fff;/*0503*/
	font-size: 20px; display: inline-block; text-align: center;
	vertical-align: middle; cursor: pointer; /*border: 2px solid #f3d87e;/*0503*/
	transition: all .4s;}

.apply-detail {/*background:#fff;/*0503*/ padding:20px; border-radius:5px; text-align:left;}
.apply-detail dl {line-height: 2em;}
.apply-detail dl dt {/*color:#8361c2;/*0503*/ line-height: 1.8em;}
.apply-detail dl dd {/*color:#626262;/*0503*/ line-height: 1.8em; margin:0 0 10px 0;}

.apply-detail-box {text-align: center; margin:0 auto;}
.apply-detail-btn.on {width:70%; border-radius:5px; padding:5px;
	/*background: linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e);
	color: #fff; /*0503*/
	font-size: 16px; display: inline-block; text-align: center;
	vertical-align: middle; cursor: pointer; /*border: 2px solid #f3d87e;/*0503*/
	transition: all .4s;}
.apply-info {text-align: center; line-height: 1.8; font-size:16px; /*color:#7d7d7d;/*0503*/}
.apply-confirm {font-weight: bold; font-size:22px; /*color:#8361c2;/*0503*/ line-height: 2; margin-bottom:10px;}




.live-btn-ok {
    font-size: 16px;
    line-height: 16px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 8px 50px;
    border: none;
    outline: none;
}
.live-btn-cancel {
    font-size: 16px;
    line-height: 16px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    padding: 8px 50px;
    background: #d2d2d2;
    color: #fff;
    border: none;
    outline: none;
}

@media screen and (max-width: 480px) {
	.modal-content {
		border-radius: 4px!important;
		-moz-border-radius: 4px!important;
		-webkit-border-radius: 4px!important;
	}
	.modal-footer {
		padding:15px 0!important;
	}
	.live-btn-ok {
		padding:8px 40px;
		border-radius: 2px;
	}
	.live-btn-cancel {
		padding:8px 40px;
		border-radius: 2px;
	}
	.livelink-box, .flivelink-box {font-size:16px;}
	.applylive-btn.check {font-size: 16px;}
	.side-applylive {width:calc(100% - 20px)!important;}
}

@media screen and (max-width: 280px) {
	.live-btn-ok {
		padding:8px 30px;
		border-radius: 2px;
	}
	.live-btn-cancel {
		padding:8px 30px;
		border-radius: 2px;
	}
	.apply-info {font-size:13px;}
	.livelink-box, .flivelink-box, .a-hotlivelink-box, .a-fndlivelink-box {font-size: 1em;}
	.livelink-btn {
		border-radius: 5px;
		margin: 20px auto 15px;
		width: calc(100% - 10px);
	}
	.applylive-btn {border-radius:5px;}
	.applylive-btn a {padding:5px;}
	.a-hotlivelink-box.wait, .a-hotlivelink-box.wait:active {
		border-radius: 2px 0 0 2px;}
	.a-fndlivelink-box.wait, .a-fndlivelink-box.wait:active {
		border-radius: 0 2px 2px 0;}
	.applylive-btn {width: calc(100% - 10px);}
	.ctn-middle, .ctn-middle::after, .container-mid-c {min-width: 220px!important;}
}
/*---------------------------------------------------*/

/*讓modal置中*/
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog {
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}
/*讓modal置中*/

.modal-open {
  overflow: hidden
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform .3s ease-out;
  -o-transition: -o-transform .3s ease-out;
  transition: transform .3s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%)
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0)
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 10px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;

}

.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5)
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000
}

.modal-backdrop.fade {
  filter: alpha(opacity=0);
  opacity: 0
}

.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .5
}

.modal-header {
  padding: 15px;
  border-bottom: 1px solid #e5e5e5
}

.modal-header .close {
  margin-top: -2px
}

.modal-title {
  margin: 0;
  line-height: 1.42857143
}

.modal-body {
  position: relative;
  padding: 15px
}

.modal-footer {
  padding: 15px;
  text-align: center;
  border-top: 1px solid #e5e5e5
}

.modal-footer button {margin:0 5px;}

.modal-footer .btn+.btn {
  margin-bottom: 0;
  margin-left: 5px
}

.modal-footer .btn-group .btn+.btn {
  margin-left: -1px
}

.modal-footer .btn-block+.btn-block {
  margin-left: 0
}

.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll
}

@media (min-width:768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5)
  }
  .modal-sm {
    width: 300px
  }
}

@media (min-width:992px) {
  .modal-lg {
    width: 900px
  }
}

@media screen and (min-width: 481px) and (max-width: 1024px) {
	.live-show-button a {
		font-size:1em;
		padding: 6px 10px;}
	}


@media (max-width:768px) {
	.cnt-photo-wrap {left:0;}
	.edit-pic-cnt .liveshow-icon {right:5px;}
	.live-show-info ul.items-name-wrap {margin:0px 0 0 -50px; text-align:left;}
	.items-cnt li {margin-right:0;}
	.ctn-middle, .ctn-middle::after, .container-mid-c {text-align:center}
	.award.icon-s {margin: 0;}
	.items-name a {font-size: 15px}
	.applylive-btn {width:100%;}
	.livelink-btn {width:100%;}
}


@media screen and (max-width: 480px) {
	.box-wrap {padding:5px 0;}
	.live-photo {width: 80px;}
	.liveshow-pic-cnt {width: 90px;height: 90px;}
	.edit-pic-cnt .liveshow-icon {z-index: 5; top:10px; right:-5px;	}
	.liveshow-icon {width:24px;	height:24px; background-size:24px;}
	.live-show-info ul.items-name-wrap {margin: -30px 0 0 -20px;}
	.live-show-button a {
		font-size: 0.8em;
		/*border: 1px solid #8361c2;
		color: #8361c2; /*0503*/
		padding: 5px 8px;
		border-radius: 50px;
		letter-spacing: 0.08em;
	}
	.award.icon-s {margin: 0 0px;}
}

@media screen and (max-width: 320px) {
	.box-wrap {padding: 0 0 12px 0;}
	.live-photo {width: 65px;}
	.liveshow-pic-cnt {width: 70px;	height: 70px;}
	.liveshow-cnt {padding: 5px 0 0 0; margin: 0 0 -5px -5px; overflow: hidden;}
	.edit-pic-cnt .liveshow-icon {z-index: 5; top:10px; right:2px;}
	.liveshow-icon {width:20px; height:20px; background-size:20px;}
	.live-show-info {margin: 36px 0 0 50px;}
	.live-show-info ul.items-name-wrap {margin: -35px 0 0 -50px;}
	.live-show-button {margin: -35px 0 0 -10px;}
	.live-show-button a {
		font-size: 0.8em;
		/*border: 1px solid #8361c2;
		color: #8361c2; /*0503*/
		padding: 5px 8px;
		border-radius: 50px;
		letter-spacing: 0.08em;
	}
	.items-cnt li {line-height: 2em;}
}


@media (max-width:280px) {
	.live-show-button a {
		font-size: 10px;
		padding: 3px 5px;
		margin: 0;
	}
	.cnt-photo-wrap {left:0;}
	.edit-pic-cnt .liveshow-icon {right:0;}
	.live-show-info ul.items-name-wrap {margin: -35px 0 0 -50px;text-align:left;}
	.items-cnt li {margin-right:0;}
	.ctn-middle, .ctn-middle::after, .container-mid-c {text-align:center}
	.award.icon-s {margin: 0;}
	.items-name a {font-size: 15px}
	.applylive-btn {width:100%;}
	.livelink-btn {width:100%;}
}
