.media-wrap {
    width: 100%;
    padding: 10px 0 10px;
    overflow: hidden;
}

.media-wrap > article {
    display: inline-block;
    position: relative;
    float: left;
    width: calc(25% - 42px / 4);
    height: auto;
    max-height: 290px;
    margin-right: 14px;
    margin-bottom: 14px;

}

.media-wrap > article:nth-of-type(4n+4) {
    margin-right: 0;
}

.media-wrap a {
    height: inherit;
    display: block !important;
    position: relative;
    overflow: hidden;
    border: 3px solid #eee;
    transition: all .4s;
    cursor: pointer;
    outline: none!important;
    background: #000;

}

.media-wrap a:hover {
    /*border: 3px solid rgb(131, 97, 194, 1) /*rgba(248, 182, 84, 1)*/;/*0503*/
}

.media-wrap img {
    /*20180226 add*/
    object-fit: cover;
    object-position: center;
    /*20180226*****/
}

.media-add-btn:hover {
    border: 3px solid #eee !important;
}

.media-add-btn img {
    opacity: 1 !important;
}

.media-wrap span {
    position: absolute;
    display: none;
    top: 10px;
    right: 12px;
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url(../img/svg_icon-80-dis.svg);
    background-repeat: no-repeat;
    background-size: 24px; /*20180307 modify*/
    background-position: center center; /*20180307 modify*/
}

.media-wrap article:hover span {
    display: block !important;
}

.media-wrap article:hover img {
    opacity: .5;
}

@media screen and (max-width: 1366px) {
    .media-wrap span {
        display: block !important;
        background-size: 20px;
        filter: drop-shadow(1px 1px 1px #000);
    }


    .media-wrap a:hover, .media-wrap a:focus {
        /*border: 3px solid rgb(131, 97, 194, 1)/*rgba(248, 182, 84, 1)*/; /*20180307 modify*/  /*0503*/
    }

    .media-wrap article:hover img {
        opacity: 1; /*20180307 modify*/
    }
}


@media screen and (max-width: 480px) {
    .media-wrap {
        padding: 10px 6px 10px;
    }
    .media-wrap > article {
        width: calc(50% - 6px / 2);
    }

    .media-wrap > article {
        margin-right: 6px;
        margin-bottom: 6px;
    }

    .media-wrap > article:nth-of-type(4n+4) {
        margin-right: 6px;
    }

    .media-wrap > article:nth-of-type(2n+2) {
        margin-right: 0;
    }

}
