/*----define----*/

/*color*/
:root{
	--main-color: #8361c2;
	--sub-color: #be9ee9;
	--dis-color: #d2d2d2;
	--main-g-color: #313131; /*深灰色*/
	--sub-g-color: #a0a0a0; /*淺灰色*/
	--gra-color-v1: linear-gradient(90deg, #8361c2 0%, #be9ee9 30%, #be9ee9 60%, #8361c2 100%); /*水平漸層*/
	--gra-color-v2: linear-gradient(90deg, #8361c2 0%, #be9ee9 100%);
	--gra-color-h1: linear-gradient(0deg, #8361c2 0%, #be9ee9 30%, #be9ee9 60%, #8361c2 100%); /*垂直漸層*/
	--gra-color-h2: linear-gradient(0deg, #8361c2 0%, #be9ee9 100%);
	--std-border: 1px solid;
}
/**/


/*button style*/

.btn{
	display: inline-block;
	cursor: pointer;
	transition: ease .4s;
}

/*size*/
.btn-s{

}

.btn-m{
	font-size: 18px;
	padding: 4px 10px;
}

/*style0:disable*/
.btn.dis{
	background: var(--dis-color);
	color: #ffffff;
}

/*style1:outline*/
/*standard situation*/
.btn-style-o{
	background: #ffffff;
	border: 1px solid var(--main-color);
	color: var(--main-color);
}

/*active situation*/
.btn-style-o:active,
.btn-style-o.active{
	background: var(--gra-color-h2);
	color: #ffffff;
}

/*style2:gradient*/
/*standard situation*/
.btn-style{
	background: var(--main-color);
}

/*active situation*/
.btn-style:active,
.btn-style.active{
	background: #ffffff;
	border: 1px solid var(--main-color);
}

/**/

/*board style*/
.board{
	display: inline-block;
}

.brd-xs{
	font-size: 12px;
	padding: 3px 6px;
}
.brd-m{
	font-size: 20px;
	padding: 3px 22px;
}

/**/

/*form style*/

/*form-inner-style-standard
input.select 共用style*/
.f-i-s-s{
	width: 100%;
	border: 1px solid var(--main-g-color);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	outline: none;
	-webkit-appearance: none;/*去除safari預設input樣式*/
}

.f-i-s-s::placeholder,
.f-i-s-s:-moz-placeholder,
.f-i-s-s:-ms-input-placeholder,
.f-i-s-s::-webkit-input-placeholder{
	color: var(--main-g-color);
}



/**/

/*error txt*/


/**/