.inner-header {
    background: #fff;
    /*margin: 0 0 12px;0516*/
    z-index: 3;/*0522*/
}

.inner-header-container {
    position: relative;
    width: 100%;
}

.inner-header-cover {
    background: #fff;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.inner-header-cover img {
    position: absolute;
    top: 0;
    width: 100%; /*20180315*/
    height: auto;
    z-index: 3;
}

/*edit-container*/
.edit-container {
    position: relative;
    z-index: 3;/*0522*/
}

.edit-container ul {
    margin-bottom: 0 !important;
    background: #fff;/*0522*/
}

.edit-btn {
    position: absolute;
    right: 16px;
    bottom: -52px;
    z-index: 7;
}

.edit-btn a {
    margin: 0 0 0 8px;
}

.edit-container .dec-line-wrap {
    position: absolute;
    bottom: 0;
    display: none;
}

.edit-container .dec-line-wrap.active {
    display: block;
}

.edit-container .dec-line {
    width: 90px;
    height: 4px;
}

.edit-container > ul > li {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

/*edit-name*/
.edit-name {
    width: 280px;
    font-size: 20px;
    font-weight: 500;
    color: #313131;
    padding: 16px 0 16px 16px;
}

.edit-name li {
    display: inline-block !important;
    vertical-align: middle;
    text-align: center;
    padding: 0 1px;
}

.edit-name li:first-of-type {
    max-width: calc(100% - 70px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

/*edit-cnt*/

.edit-cnt li {
    display: inline-block !important;
    vertical-align: middle;
    text-align: center;
    position: relative;
    padding: 14px 0 10px;
    width: 90px;
}

.edit-cnt h5 {
    line-height: 16px;
    color: #aaa;
}

/*20180322 add*/
.english .edit-cnt h5 {
    letter-spacing: 0em;
}

/*******/

.edit-cnt h4 {
    line-height: 24px;
    /*color: #8361c2; /*0503*/
}

.edit-cnt a {
    cursor: pointer;
}

.edit-post, .edit-fans, .edit-follower, .edit-storage {
    border-bottom: none;
    border-bottom: 4px solid #fff;
}

.edit-post.active, .edit-fans.active, .edit-follower.active, .edit-storage.active {
    /*border-bottom: 4px solid #8361c2; /*0503*/
}

#post, #fans, #follower, #storage, #friend-list, #info-edit-list {
    display: none;
}

#post.active, #fans.active, #follower.active, #storage.active, #friend-list.active, #info-edit-list.active {
    display: block;
}

/*edit-profile*/
.edit-profile {
    display: none !important;
    padding: 12px 12px 2px;
    color: #aaa;
    word-break: break-all; /*20180309 add*/
}

.edit-profile ul {
    text-align: center;
    padding-top: 12px;
}

.edit-profile li {
    text-indent: 24px;
    background-repeat: no-repeat;
    background-size: 16px !important;
    line-height: 16px;
    margin-bottom: 12px;
    display: inline-block;
    margin-left: 10px;
}

/*0522*/
/*edit-label*/
.edit-label{
    display: none !important;
    padding-top: 12px;
}

/****/

/*
fans area*/
#fans .box-wrap, #follower .box-wrap, #friend-list .box-wrap, #info-edit-list .box-wrap {
    padding: 0;
}

.search-area {
    text-align: center;
    padding: 10px 0; /*20180201 modify*/
}

.list-cnt-wrap {
    padding: 12px;
}

.list-cnt-wrap li {
    padding: 10px 0;
}

.list-cnt-l, .list-cnt-r {
    display: inline-block;
    vertical-align: middle;
}

/*20180201 modify*/
.list-cnt-l {
    width: calc(100% - 200px - 5px);
}

/*20180201****/

.list-cnt-l div {
    display: inline-block;
    vertical-align: middle;
}

.list-cnt-l a {
    width: 100%;
}

.list-cnt-l h3 {
    width: 100%;
    color: #313131;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.list-cnt-l span {
    display: inline-block;
}

.list-cnt-r {
    width: 200px;
    text-align: right;
}

.list-cnt-r a {
    margin-left: 6px;
}

/*
friend list*/
#friend-list .search-area {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 18px 12px 10px;
}

#friend-list .search-area > div {
    display: inline-block;
    vertical-align: middle;
}

#friend-list .search-area .h3 {
    /*color: #8361c2; /*0503*/
    font-weight: 700;
}

/*
info-edit-list*/
#info-edit-list .search-area {
    text-align: left;
    padding: 18px 16px 10px;
    /*color: #8361c2; /*0503*/
    font-weight: 700;
}

#info-edit-list .search-area > div {
    display: inline-block;
    vertical-align: middle;
}

#info-edit-list .search-area .h3 {
    font-weight: 700;
}

.info-edit-cnt {
    padding: 12px 16px;
}

/*20180328 add*/
/*edit-label*/
.info-edit-label > div {
    padding-bottom: 20px;
}

.info-edit-label h3 {
    display: inline-block;
    vertical-align: middle;
}

.info-edit-label-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    margin-left: 5px;
}

.info-label article {
    /*background: #8361c2;
    color: #fff; /*0503*/
    display: inline-block;
    font-size: 18px;
    padding: 2px 8px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.info-label article > span {
    display: inline-block;
    width: 11px;
    margin-left: 6px;

}

.info-label span img {
    display: block;
}

/*20180328 *****/

/*icon-eye*/
.info-show-icon {
    float: right;
    width: 30px;
}

/*0508*/
#info-edit-list .info-show-icon{
    width: auto;
    display: inline-block;
    text-align: right;
    padding-top: 8px;
    letter-spacing: 0em;
    font-size: 12px;
}

.info-edit-icon {
    width: 22px; /*20180201 modify size*/
    height: 22px; /*20180201 modify size*/
}

.self-infom-inner {
    display: table;
    width: 100%;
    text-align: center;
}

.self-infom-inner li {
    display: table-row;
    text-align: left;/*0504*/
}

.self-infom-inner li > div {
    display: table-cell;
    vertical-align: top; /*0503*/
}

/*0504*/
.self-infom-inner > li > div{
    padding-bottom: 16px;
}
.self-infom-inner > li > div:nth-of-type(odd){
    padding-top:10px;
}

/*0503
.self-infom-inner li > div.align-top{
	vertical-align: top;
	padding: 6px 0 0;
}
*/

.self-infom-inner li > div:nth-child(2) {
    padding-left: 16px;/*0504*/
    padding-right: 26px;/*0504*/
}

/*個人簡歷*/
.self-info textarea {
    height: 116px;
}

/*input 100%*/
.self-list-one {
    width: 100%;
}

/*input *2*/
.self-list-two li {
    position: relative;
    display: block;
    /*margin: 0 0 10px;0515*/
}

.self-list-two input:nth-child(odd) {
    width: calc(100% - 120px - 12px - 5px - 42px); /*0504*/
}

.self-list-two input:nth-child(even) {
    width: 120px;/*0504*/
    margin: 0 0 0 12px;
}

/*.self-list-two .delete-btn {*/
    /*position: absolute;*/
    /*top: 18px;*/
    /*right: -30px;*/
/*}*/

/*icon-add*/
.self-list-add {
    text-align: center;
    position: absolute;
    top: 6px;
    right: 0;
}

.self-list-add a {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    background-color: #dcdcdc;
}


/*0509 add*/
.add .info-edit-icon{
    visibility: hidden;
}

/*btn*/
.info-edit-btn {
    display: block;
    width: 70%;
    margin: 0 auto 12px;
    outline: none;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border: none;
    padding: 12px 12px;
    font-size: 16px;
    font-weight: 600;
    opacity: 1;
    transition: opacity .4s;
}

.info-edit-btn:hover, .info-edit-btn:active {
    opacity: .8;
    transition: opacity .4s;
}

.checkbox-wrap {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 13px;
    height: 18px;
    margin-bottom: 0;
}

.checkbox-wrap input {
    position: absolute;
    opacity: 0;
}

.checkbox-txt {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(../img/svg_icon-74.svg);
    background-size: 18px;
    background-repeat: no-repeat;
    /*0503
    border: 1px solid #bfbfbf;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    */
    cursor: pointer;
    transition: .4s;
}

.checkbox-wrap input:checked ~ .checkbox-txt {
    background-image: url(../img/svg_icon-75.svg);
    /*0503
    border: 1px solid #8361c2;
    */
}

/*0503
.checkbox-wrap input:checked ~ .checkbox-txt::after {
    content: url(../img/checkbox-arrow.png);
    position: absolute;
    top: -3px;
    right: -8px;
}
*/

@media screen and (max-width: 900px) {
    .edit-container > ul > li {
        display: block;
    }

    .edit-name {
        width: 100%;
        text-align: left !important;
    }

    .edit-name li {
        display: inline-block !important;
        text-align: left !important;
        padding: 0 1px;
    }

    .edit-name li:first-of-type {
        width: inherit;
        white-space: pre-wrap;
    }

    .edit-cnt {
        display: block !important;
    }

    .edit-cnt ul {
        clear: both;
    }

    .edit-cnt li {
        width: calc(25% - 4px); /*20180201*/
    }

    .edit-cnt.friend li {
        width: calc(33.333% - 4px) !important; /*20180201*/
    }

    /*0522*/
    .edit-profile,
    .edit-label{
        display: block !important;
        border-top: 1px solid #eee;
    }
    /****/
}

@media screen and (max-width: 768px) {
    #inner-page {
        margin-top: 53px;
    }

    .list-cnt-l, .list-cnt-r {
        display: block;
        width: 100% !important;
    }

    .list-cnt {
        border-bottom: 1px solid #eee;
    }

    .edit-btn {
        bottom: 16px;
    }

    .edit-name {
        padding: 16px;
    }
}

@media screen and (max-width: 480px) {
    .inner-header-cover {
        height: 230px; /* 280px 20180315*/
    }

    .edit-pic-wrap {
        left: calc(50% - 123px);
        bottom: -40px;
    }

    .edit-btn {
        bottom: 2px;
    }

    .edit-btn a {
        display: block;
        margin: 0 0 4px;
    }

    .edit-name {
        padding: 16px;
        margin-top: 16px;
    }

    .edit-name, .edit-name li {
        text-align: center !important;
    }

    .edit-cnt {
        border-top: 1px solid #eee;
    }

    /*0522*/
    .edit-profile ul,
    .edit-label{
        text-align: left !important;
    }
    /****/

    .edit-profile li {
        display: block;
        margin-left: 0;
    }

    /*0515*/
    .self-list-two input:nth-child(odd){
        width: 100%;
    }

    .self-list-two input:nth-child(even){
        width: calc(100% - 42px);
        margin: 12px 0 0 0;
    }

    .self-list-add{
        top: auto;
        bottom: 6px;
    }
    /*****/

}

