/*
@font-face {
	font-family: iamifont;
	src: local(SourceHanSansCN),  url(../fonts/SourceHanSansCN-Regular.otf) format("opentype"),  url(../fonts/SourceHanSansCN-Normal.otf) format("opentype"),  url(../fonts/SourceHanSansCN-Bold.otf) format("opentype");
}
*/
body {
	margin: 0;
	padding: 0;
	background: #eee;
	/*font-family: "source-han-sans-simplified-c",sans-serif!important;*/
    font-family: "source-han-sans-traditional", "Microsoft JhengHei", sans-serif;/*0424*/
	-webkit-font-smoothing: antialiased;/*防鋸齒*/
}
/*-------------
basic setting
--------------*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
    /*font-family: "source-han-sans-simplified-c",sans-serif!important;*/
    font-family: "source-han-sans-traditional", "Microsoft JhengHei", sans-serif;/*0424*/
	vertical-align: baseline;
}

/* 去除設置div 高度100% 浏覽器右側產生滾動條 0522*/
html, body {
	/*height: 100%;*/
	/*overflow: auto;*/
}


article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
	display: block;
}
ol, ul {
	list-style: none;
}
a {
	text-decoration: none;
}
*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
img {
	width: 100%;
	height: auto;
}
/*消除浮動區塊*/
.clearfix {
	overflow: auto;
	zoom: 1;
}
.clearfix:after {
	content: "";
	display: block;
	clear: both;
}
/*** ***/
input, input:placeholder, input::placeholder, input:-moz-placeholder, input::-webkit-input-placeholder{
	font-family: "source-han-sans-simplified-c",sans-serif!important;
}
