/* ----------- others ----------- */
.floatleft {
    float: left;
}

.floatright {
    float: right
}

/* ----------- others ----------- */

.purple-LtoR { /*左深到右淺*/
    background: linear-gradient(90deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    border-color: #8361c2;
}

a.purple-LtoR:link {
}

a.purple-LtoR:hover {
}

.purple-BtoT { /*下深到上淺*/
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    border-color: #8361c2;
}

a.purple-BtoT:link {
    color: #fff;
}

a.purple-BtoT:hover {
    opacity: 0.6;
}

.purple-btn01 {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    color: #fff;
}

.purple-LtoRtoL { /*左右左漸層*/
    background-image: linear-gradient(90deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 30%, rgb(195, 163, 236) 60%, rgb(131, 97, 194) 100%);
}

.purple-c01 {
    background: #8361c2;
    border-color: #8361c2;
    color: #fff;
}

.purple-c02 {
    background: rgb(228, 212, 249);
    border-color: rgb(228, 212, 249);
    color: #333;
}

.purple-txt {
    color: #8361c2;
}

.purple-bg01 {
    background: #8361c2;
    border-color: #8361c2;
    color: #fff;
}

.purple-border-c01 {
    border-color: #8361c2 !important;
}

.readmore {
    color: #8361c2;
}

/* -------------------------------------------------------------------------------------------------------------
   control-group.css
   ------------------------------------------------------ */
.cog-icon-l a {
    background: #8361c2;
}

.cog-icon-l a:hover {
    background: #9173ca;
}

.cog-title {
    color: #8361c2;
}


/* -------------------------------------------------------------------------------------------------------------
   form.css
   ------------------------------------------------------ */
.btn-gold-gra {
    background-image: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%) !important;
    color: #fff;
}

.btn-gold-gra a {
    color: #fff !important;
}

.lev-btn {
    background-image: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    color: #fff;
}

.follow-btn, .friend-btn, .chat-btn, .follow-btn-l, .friend-btn-l, .chat-btn-l {
    background: #fff;
    border: 1px solid #8361c2;
    color: #8361c2;
}

.follow-btn:hover, .friend-btn:hover, .chat-btn:hover, .follow-btn-l:hover, .friend-btn-l:hover, .chat-btn-l:hover {
    background: #e1cfff;
    color: #8361c2;
}

.follow-btn.active, .follow-btn-l.active {
    background-image: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    color: #fff;
}

.friend-btn.active:hover, .friend-btn.befriend:hover {
    background: #fff;
}

.f-delete-btn, .f-check-btn {
    border: 1px solid #8361c2;
}

.f-delete-btn {
    color: #8361c2;
    background: #fff;
}

.f-delete-btn:hover {
    background: #e1cfff;
}

.f-check-btn {
    background-image: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    color: #fff !important;
}

.f-check-btn:hover {
    background-image: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    color: #fff;
}

.btn-gold-o {
    background: #fff;
    border: 1px solid #8361c2;
    color: #8361c2;
}

.btn-gold-o:hover {
    background: #e1cfff;
}

.btn-gray {
    background: #d3d2d3;
    color: #fff;
    cursor: pointer;
}

.dec-line {
    background-image: -moz-linear-gradient(90deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%);
    background-image: linear-gradient(90deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%);
}


.input-type2:hover, .input-type2:focus, .textbox-type2:hover, .textbox-type2:focus, .select-type1:hover, .select-type1:focus {
    border: 1px solid #8361c2;
    box-shadow: 0 0 5px #8361c2;
}

/* -------------------------------------------------------------------------------------------------------------
   draw.css
   ------------------------------------------------------ */
.patch .patch-title {
    color: #8361c2;
}

.chestcon-text dl dt {
    color: #8361c2;
}

.thepop .thetit {
    color: #8361c2;
}
.thepop .thetext {
    /*color: #8361c2 /*#ff0000*/;
}
.thepop .thebtn .thebtn-con {
    color: #fff;
    background: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
}
.daytask-show {
    color: #fff;
    background-color: #be9ee9;
}

.collar-btn a.showchest {
    background-color: #8361c2;
}

.collar-btn a.nochest {
    background-color: #8361c2;
}
.task-banner {
    color: #fff;
    background-color: #8361c2;
}
.limittask-show {
    color: #fff;
    background-color: #be9ee9 /*#ff9b9b*/;
}
.receive-btns a.receive-btns-r, .okreceive-btns a.okreceive-btns-r {
    color:#333;
    background-color: #fff;
    border-top: 3px solid #8361c2;
    border-left: 3px solid #8361c2;
    border-bottom: 3px solid #8361c2;
    border-right: 3px solid #8361c2;
}
.sign-list li.sign-con {
    background-color: #eeeeee;
    color: #be9ee9 /*#ff8d8d*/;
    border: 3px solid #eeeeee;
}
.sign-bg {
    border: 3px solid #be9ee9;
    background: rgba(255, 255, 255, 0.5);
}
.sign-bg-txt {
    color: #fff;
    background-color: #be9ee9;
}

.sign-list li.sign-btn {
    background-color: #8361c2;
}
.sign-list li .sign-toreceive {
    color: #fff;
    background: #874cd6;
}
.per-grade-info i {
    background-color: #be9ee9;
}

.storetask li {
    background:#fff;
    border: 3px solid #8361c2;
}

.storetask li:hover, .storetask li.active {
    background: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    color: #fff;
}
.sign-getok {
    color: #8361c2;
}
.sign-box input:focus {
    border: 2px solid #be9ee9;
}

.task_url a {
    color: #8361c2;
}

.task_url li.active {
    /*background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%) 0508*/;
}

.task_url li.active a {
    border-left: 6px solid #8361c2;
}

.task_url li:hover a {
    border-left: 6px solid #8361c2;
}

.plunder-con a {
    color: #8361c2;
    border-bottom: 1px solid #e5e5e5;
}

.plunder-con a:hover, .plunder-con a.active {
    background-color: #8361c2;
    color: #fff;
    border-bottom: 1px solid #8361c2;
}
.plunder-list li .plunder-info span.plunder-info-name {
    color: #8361c2;
}
.plunder-list li a.plunderno {
    color: #fff;
    background-color: #8361c2;
}
.plunper-info span.plunper-info-name {
    color: #8361c2;
}
.plunper-list li .plunper-list-txt span {
    color: #8361c2;
}
.plunderkn-txt {
    color: #8361c2;
}
.plunderok-txt {
    color: #8361c2;
}
.upgrade-txt span {
    color: #8361c2;
}
.upgrade-popup-tit {
    color: #8361c2;
}
.warehouse-tit {
    color: #8361c2;
    border-bottom: 1px solid #e5e5e5;
}
.depot li.depot-info {
    border: 6px solid #be9ee9;
    background-color: #fff;
}
.depot li .depot_no {
    background: #be9ee9;
    color: #fff;
}
.depot li .depot-btn {
    color: #fff;
    background-color: #8361c2 /*#ff0000*/;
}

.depot li.depot-info:hover {
    border: 6px solid #8361c2 /*#ff0000*/;
}
.todraw .todraw-btn:hover {
    background-color: #be9ee9;
}
label {
    color: #be9ee9/*#ff6666*/;
}
#tab1:checked + label.tab1, .tab1:hover {
    color: #ffffff;
    background: #8361c2;
}

#tab2:checked + label.tab2, .tab2:hover {
    color: #ffffff;
    background: #8361c2;
}

.btna2 {
    background-color: #8361c2;
}

.btnb {
    background-color: #8361c2;
}

.btnb2 {
    background-color: #8361c2;
}

.btn10 {
    background-color: #8361c2;
}


@media screen and (max-width: 900px) {
    .task_url {
        border: 2px solid #8361c2;
    }

    .task_url li {
        border-right: 2px solid #8361c2;
    }

    .task_url li.active {
        background: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
        background: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
        background: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
        background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    }

    .storetask li {
        border: 2px solid #8361c2;
    }

    .storetask li:first-child {
        border: 2px solid #8361c2;
    }
}

@media screen and (max-width: 900px) {
    .task_url a {
        color: #333;
    }

    .task_url {
        border: 2px solid #8361c2;
    }

    .task_url li {
        border-right: 2px solid #8361c2;
    }
}

.rank-info-scalenum i {
    background-color: #be9ee9;
}

.store-column a {
    color: #8361c2;
    border: 2px solid #8361c2;
    background-color: #fff;
}

.store-column a:hover, .store-column a.active {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    border-color: #8361c2;
);
    color: #fff;
}

.rank-info-term ul > li:first-child {
    color: #8361c2;
}

.rank-moneyl a, .rank-moneyr a {
    color: #fff;
    background-color: #8361c2;
}

.rank-chest-title {
    color: #8361c2;
}

.chest-sum-txt span:first-child {
    color: #8361c2;
}

.chest-sum-pop i {
    background-color: #8361c2;
}

.chest-boxlist-txt {
    color: #8361c2;
}

.chest-boxpop .chest-boxpop-txt span:first-child {
    color: #8361c2;
}

.chest-boxlist .chest-boxpop-calc i {
    background-color: #8361c2;
}

.chest-boxok {
    background: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
}

.chest-boxno {
    background: #e1cfff;
}


.plunder-list li .plunder-info span.plunder-info-lv {
    background: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    color: #fff;
}

.plunper-info span.plunper-info-lv {
    background: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    color: #ffffff;
}

.chestcon-text span {
    color: #8361c2;
}
.chestcon-btn .chestcon-btn-info span {
    color: #8361c2;
}
.chestcon-btn .chestno {
    color: #fff;
    background-color: rgb(195, 163, 236);
}

.chestcon-btn .chestok {
    color: #fff;
    background:#835ec2;
    /*background: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);*/
}

.thechest .thechest-btn a {
    background:#8361c2;
    /*background: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);*/
}
.thechest .thechest-txt {
    color: #8361c2;
}

/* -------------------------------------------------------------------------------------------------------------
   gallery-page.css
   ------------------------------------------------------ */
.gallery-edit .bottom span {
    color: #6e4b93;
}

#gallery-add input {
    border: 1px solid #6e4b93;
}

/* -------------------------------------------------------------------------------------------------------------
   hot-post.css
   ------------------------------------------------------ */
.tag-hot-post {
    color: #8361c2;
}

.tag-hot-video {
    color: #8361c2;
}

.tag-events {
    color: #8361c2;
}

.tag-clubs {
    color: #8361c2;
}

/* -------------------------------------------------------------------------------------------------------------
   index-page.css
   ------------------------------------------------------ */
.self-info-list h4 {
    color: #8361c2;
}

/* -------------------------------------------------------------------------------------------------------------
   live.css
   ------------------------------------------------------ */
.live-head-wrapper {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    /*linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e)*/;
}

.infolvl {
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    /*background-image:linear-gradient(to bottom, #fdc965, #faecd1 48%, #fdc965);*/
    color: #313131;
}

.live-counts div p {
    color: #8361c2;
    font-weight: bold;
    margin: 5px 0 0;
}

.chat-wrapper:hover > .chathead-wrap {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    /*linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e)*/;
}

.chatul li.name {
    font-size: 1em;
    line-height: 1em;
    margin: 5px 0 0 0;
    color: #8361c2;
    font-weight: 500;
}

.textbox-type3 {
    border: 2px solid #8361c2;
    color: #666;
}

/* -------------------------------------------------------------------------------------------------------------
   live-show.css
   ------------------------------------------------------ */
.live-show-title > h4 {
    color: #8361c2;
    border-bottom: 2px solid #8361c2;
}

.live-show-button a {
    border: 1px solid #8361c2;
    color: #8361c2;
}

@media screen and (max-width: 900px) {
    .livelink-btn a {
        border: 2px solid #8361c2;
    }

    .livelink-box, .flivelink-box, .a-hotlivelink-box, .a-fndlivelink-box {
        border: 2px solid #8361c2;
    }

    .livelink-box.unpicked, .livelink-box.unpicked:active {
        background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
        /*linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e)*/;
        border-radius: 0 4px 4px 0;
        color: #fff;
    }

    .flivelink-box.unpicked, .flivelink-box.unpicked:active {
        background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
        /*linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e)*/;
        color: #fff;
    }

    .applylive-btn a {
        border: 2px solid #8361c2;
    }

    .applylive-btn.check {
        background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
        /*linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e)*/;
        color: #fff;
        border: 2px solid #8361c2;
    }
}

.s-applylive-btn a {
    border: 2px solid #8361c2;
}

.s-applylive-btn.check {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    /*linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e)*/;
    color: #fff;
    border: 2px solid #8361c2;
}

.apply-live-side-btn a {
    border: 2px solid #8361c2;
}

.apply-live-side-btn.active {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    /*linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e)*/;
    color: #fff;
    border: 2px solid #8361c2;
}

.apply-detail {
    background: #fff;
}

.apply-detail dl dt {
    color: #8361c2;
}

.apply-detail dl dd {
    color: #626262;
}

.apply-detail-btn.on {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    /*linear-gradient(to top, #eec16a, #fbd37f, #e4bd69, #eac972, #f3d87e)*/;
    color: #fff;
    border: 2px solid #8361c2;
}

.apply-info {
    color: #7d7d7d;
}

.apply-confirm {
    color: #8361c2;
}

@media screen and (max-width: 480px) {
    .live-show-button a {
        border: 1px solid #8361c2;
        color: #8361c2;
    }
}

@media screen and (max-width: 320px) {
    .live-show-button a {
        border: 1px solid #8361c2;
        color: #8361c2;
    }
}

/* -------------------------------------------------------------------------------------------------------------
   通知notifies、邀請invite_notifies
   ------------------------------------------------------ */
.user-pic-xl img:hover, .user-pic-m img:hover, .user-pic-s img:hover, .user-pic-xs img:hover {
    border: 2px solid #8361c2 !important;
}

.edit-pic-btn {
    border: 1px solid #8361c2;
}

.edit-pic-btn.check,
.edit-pic-btn.check:active {
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%) !important;
    color: #fff;
}

.edit-pic-btn.cancle,
.edit-pic-btn.cancle:active {
    background: #fff;
    color: #8361c2;
}

.cog-icon-l a {
    background: #8361c2;
}

.cog-icon-l a:hover {
    background: #be9ff7;
}

.profile-tag-txt {
    background: #8361c2;
    color: #fff;
}

.friend-list img:hover {
    border: 2px solid #8361c2;
}

.items-name a {
    color: #8361c2;
}

.items-like-txt a {
    color: #8361c2;
}

.cnt-photo img:hover {
    border: 2px solid #8361c2 !important;
}

.items-live-cnt h1 {
    color: #8361c2;
}

.items-live-pic {
    background: linear-gradient(90deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%); /*linear-gradient(#b48132, #fae0af, #d7b676, #f8fbc0, #b4812e)*/;
}

/* -------------------------------------------------------------------------------------------------------------
   media-page.css
   ------------------------------------------------------ */
.media-wrap a:hover {
    border: 3px solid rgba(131, 97, 194, 1) /*rgba(248, 182, 84, 1)*/;
}

@media screen and (max-width: 1366px) {
    .media-wrap a:hover, .media-wrap a:focus {
        border: 3px solid rgba(131, 97, 194, 1) /*rgba(248, 182, 84, 1)*/; /*20180307 modify*/
    }
}

/* -------------------------------------------------------------------------------------------------------------
   message.css
   ------------------------------------------------------ */
.msg-title {
    color: #8361c2;
}

.msg-col:hover {
    background: rgb(228, 212, 249);
}

.lvl {
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%) /*linear-gradient(to bottom, #fdc965, #faecd1 48%, #fdc965)*/;
}

.chat-title {
    color: #8361c2;
}

.clvl {
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%) /*linear-gradient(to bottom, #fdc965, #faecd1 48%, #fdc965)*/;
    color: #fff;
}

.tool-icon-g > a.msg-btn {
    background: #8361c2;
    color: #ffffff;
}

.tool-icon-g > a.msg-btn:hover {
    background: #ffffff;
    color: #8361c2;
    border: 3px solid #8361c2;
}

.infolvl {
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%) /*linear-gradient(to bottom, #fdc965, #faecd1 48%, #fdc965)*/;
    color: #313131;
}

.info-counts div p {
    color: #8361c2;
}

.main-hr {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%) /*linear-gradient(to right, #d39e3f, #eec16a, #fbd37f, #e4bd69, #fbd37f, #eec16a, #d39e3f)*/;
}

.second-hr {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%) /*linear-gradient(to right, #d39e3f, #eec16a, #fbd37f, #e4bd69, #fbd37f, #eec16a, #d39e3f)*/;
}

.look4fnds:hover, .highlighted {
    background: rgb(195, 163, 236);
    border: 0 solid rgb(131, 97, 194);
}

#London > .tool-icon-g > a.msg-btn, #Paris > .tool-icon-g > a.msg-btn {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%) /*linear-gradient(to right, #d39e3f, #eec16a, #fbd37f, #e4bd69, #fbd37f, #eec16a, #d39e3f)*/;
    color: #000;
}

#London > .tool-icon-g > a.msg-btn:hover, #Paris > .tool-icon-g > a.msg-btn:hover {
    color: rgb(131, 97, 194);
}

#London > .tool-icon-g > a.msg-btn:active, #Paris > .tool-icon-g > a.msg-btn:active {
    color: #fff;
    border: 1px solid rgb(131, 97, 194);
}

.opentab {
    background: #8361c2;
}

@media (max-width: 768px) {
    hr.mbar {
        margin: 6px 0;
        border-top: 2px solid #8361c2;
    }

    hr.mbars {
        margin: 0 0 5px 0;
        border-top: 2px solid #8361c2;
    }

    .mtitle {
        color: #8361c2;
        margin-left: 15px;
        height: 28px;
    }

    .look4fnds:hover, .highlighted {
        background: rgb(228, 212, 249) /*#fbe7bd*/;
        border: 0 solid #d39e3f;
        padding: 5px 0 5px 5px !important;
    }
}

/* -------------------------------------------------------------------------------------------------------------
   notice.css, invite.css
   通知notifies、邀請invite_notifies
   ------------------------------------------------------ */
.notice-wrapper a {
    color: #333;
}

.notice-wrapper:hover {
    border: 2px solid rgb(195, 163, 236) !important; /*0426*/
}

.wrapper-unread {
    background: rgb(228, 212, 249);
}

.noticebox h4 {
    color: #333333;
    border-bottom: 2px solid #8361c2;
}

.invite-ok-btn {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    border-color: #8361c2;
    color: #fff !important;
}

.invite-ok-btn:hover {
    opacity: 0.6;
}

.invite-del-btn {
    border-color: #8361c2;
    color: #8361c2 !important;
}

/* -------------------------------------------------------------------------------------------------------------
   人氣影片hot/video、 人氣貼文hot/post
   ------------------------------------------------------ */
.hot-video-title > h4 {
    color: #8361c2;
    border-bottom: 2px solid #8361c2;
}

.hot-post-title > h4 {
    color: #8361c2;
    border-bottom: 2px solid #8361c2;
}

/* -------------------------------------------------------------------------------------------------------------
   popbox.css
   ------------------------------------------------------ */
.pop-info-list h4 {
    color: #8361c2;
}

.form-gra {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%);
    background-image: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%);
}

.form-cnt-wrap {
    background: linear-gradient(-45deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -moz-linear-gradient(-45deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -webkit-linear-gradient(-45deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -ms-linear-gradient(-45deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
}

.form h1, .form h2 {
    color: #8361c2;
}

.form input:hover, .form input:focus {
    border: 1px solid #8361c2;
    box-shadow: 0 0 5px #8361c2;
}

.forget-link {
    color: #8361c2;
}

.form-checkbox input:checked ~ span {
    background: #8361c2;
}

.form-checkbox span {
    background: #fff;
    border: 1px solid #8361c2;
}

li.togo {
    background-color: #8361c2;
}

.backto-login a {
    color: #8361c2;
}

.form-footer-cnt-wrap a:hover {
    color: #8361c2;
}

.form h7 a {
    color: #8361c2;
}

/* -------------------------------------------------------------------------------------------------------------
   self-page.css
   ------------------------------------------------------ */
.edit-cnt h4 {
    color: #8361c2;
}

.edit-post.active, .edit-fans.active, .edit-follower.active, .edit-storage.active {
    border-bottom: 4px solid #8361c2;
}

#friend-list .search-area .h3 {
    color: #8361c2;
    font-weight: 700;
}

#info-edit-list .search-area {
    color: #8361c2;
}

.info-label article {
    background: #8361c2;
    color: #fff;
}

.self-list-add a:active {
    background-color: rgba(131, 97, 194, .4);
}

/* -------------------------------------------------------------------------------------------------------------
   share.css
   ------------------------------------------------------ */
.msg-btn {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    color: #fff;
}

.msg-btn:hover {
    color: #333;
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
}

.popup-send {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    color: #fff !important;
}

.newchat-send-btn {
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    color: #fff;
}

.newchat-send-btn:hover {
    color: #333;
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
}

.login-btn {
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%) !important;
    border: 2px solid #9e7ce0;
    color: #fff;
}

.chat-title {
    color: #8361c2;
}

/* -------------------------------------------------------------------------------------------------------------
   style.css
   ------------------------------------------------------ */
/*main background color 0420add*/
.bg-gradient-g-h {
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    /*background-image: linear-gradient(0deg, rgb(238, 193, 106) 0%, rgb(251, 211, 127) 31%, rgb(228, 189, 105) 49%, rgb(234, 201, 114) 72%, rgb(243, 216, 126) 100%);
    background-image: -moz-linear-gradient(0deg, rgb(238, 193, 106) 0%, rgb(251, 211, 127) 31%, rgb(228, 189, 105) 49%, rgb(234, 201, 114) 72%, rgb(243, 216, 126) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(238, 193, 106) 0%, rgb(251, 211, 127) 31%, rgb(228, 189, 105) 49%, rgb(234, 201, 114) 72%, rgb(243, 216, 126) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(238, 193, 106) 0%, rgb(251, 211, 127) 31%, rgb(228, 189, 105) 49%, rgb(234, 201, 114) 72%, rgb(243, 216, 126) 100%); /*0507*/
}

.bg-gradient-g-v {
    background:rgb(190, 158, 233);
    /*background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -moz-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -webkit-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
    background-image: -ms-linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);*/
    /*background-image: linear-gradient(0deg, rgb(238, 193, 106) 0%, rgb(251, 211, 127) 31%, rgb(228, 189, 105) 49%, rgb(234, 201, 114) 72%, rgb(243, 216, 126) 100%);
    background-image: -moz-linear-gradient(0deg, rgb(238, 193, 106) 0%, rgb(251, 211, 127) 31%, rgb(228, 189, 105) 49%, rgb(234, 201, 114) 72%, rgb(243, 216, 126) 100%);
    background-image: -webkit-linear-gradient(0deg, rgb(238, 193, 106) 0%, rgb(251, 211, 127) 31%, rgb(228, 189, 105) 49%, rgb(234, 201, 114) 72%, rgb(243, 216, 126) 100%);
    background-image: -ms-linear-gradient(0deg, rgb(238, 193, 106) 0%, rgb(251, 211, 127) 31%, rgb(228, 189, 105) 49%, rgb(234, 201, 114) 72%, rgb(243, 216, 126) 100%); /*0507*/
}
.video-txt {
    color: #8361c2 !important
}

.header-search input:hover, .header-search input:focus, .header-search a:hover + input, .header-search a:focus + input {
    border: 1px solid #8361c2;
    background: #fff;
}

.header-icon-g a {
    color: #8361c2;
}

.m-search-area input {
    border-bottom: 1px solid #8361c2;
}

.flyout-box > h6 a {
    color: #8361c2;
}

.flyout-drop-cnt .h5,
.flyout-drop-cnt .h5 a {
    color: #8361c2;
}

.flyout-drop-cnt .h5 a:hover,
.flyout-drop-cnt .h5 a:active {
    color: #b5a0da;
}

.flyout-drop-cnt a:hover, .flyout-drop-cnt a:focus {
    color: #8361c2;
}

.flyout-drop-cnt button:hover,
.flyout-drop-cnt button:focus,
.flyout-drop-cnt button:active {
    background: #8361c2;
    color: #ffffff;
}

.flyout-dot a {
    background: #8361c2;
}

.post-drop-cnt a:hover {
    color: #8361c2;
}

#menu-trigger .menu-icon {
    background: #8361c2;
}

#menu-trigger.is-clicked .menu-icon::before, #menu-trigger.is-clicked .menu-icon::after {
    background: #8361c2;
}

.m-nav-inner button:hover,
.m-nav-inner button:focus,
.m-nav-inner button:active {
    background: #fff;
    color: #8361c2;
}

.tag-hot-post {
    color: #8361c2;
}

.tag-hot-video {
    color: #8361c2;
}

.tag-events {
    color: #8361c2;
}

.tag-clubs {
    color: #8361c2;
}

/* -------------------------------------------------------------------------------------------------------------
   style-m.css
   ------------------------------------------------------ */
.header-container-m {
    background-image: -moz-linear-gradient(90deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%);
    background-image: linear-gradient(90deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 50%, rgb(131, 97, 194) 100%);
}

.subHeader-m a.active {
    border-bottom: 2px solid #8361c2;
}

.fixMenu-cnt a {
    color: #8361c2 !important;
}

/* -------------------------------------------------------------------------------------------------------------
   w3.css
   ------------------------------------------------------ */
.w3-purple, .w3-hover-purple:hover {
    background-image: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%) !important;
}

.w3-red, .w3-hover-red:hover {
    color: #fff !important;
    background: linear-gradient(0deg, rgb(131, 97, 194) 0%, rgb(195, 163, 236) 58%);
}

/* -------------------------------------------------------------------------------------------------------------
   other 其他指定
   ------------------------------------------------------ */
.no-border-hover {
    border: none !important;
}

.no-border-hover:hover {
    border: none !important;
}