/*.header-left, .header-middle, .header-right {padding:8px 0 0;}*/

/* ------------------ Banner ------------------- */

.videobanner {
  position:relative;
  height:200px;
  margin:53px 0 0 0;
  overflow:hidden;
}

.videobanner img {
  position:absolute;
  top:0;
  height:inherit;
  width:auto;
  left:calc(50% - 960px);
}

/*0424*/
.videobanner-web {
  display:block;
}

.videobanner-m {
  display:none;
}

.logo_left {
  width:10%;
  margin:0 50px 0 60px;
  display:inline-flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
}

.logo_left img {
  width:auto;
  height:auto;
}

.logo_right {
  width:15%;
  margin:0 30px;
  display:inline-flex;
  justify-content:center;
  flex-direction:column;
  align-items:center;
  float:right;
}

.banner-center {
  margin:0 auto 0 0;
  width:65%;
  display:inline-flex;
  position:relative;
}

/* ------------------------Masonry-------------------- */

.row {
  -moz-column-width:18em;
  -webkit-column-width:18em;
  -moz-column-gap:1em;
  -webkit-column-gap:1em;
}

.item {
  display:inline-block;
  padding:10px;
  width:calc(100% / 3);
  height:215px;
  float:left;
}

.well {
  /*position: relative;*/
  display:block;
  /*20180307 add*/
  border-radius:10px;
  overflow:hidden;
  background:none;
  border:none;
  margin:0;
  height:230px;
}

.video-wall {
  width:80%;
  max-width:1049px;
  margin:10px auto 10px auto;
  overflow:auto;
}

.video-container {
  position:relative;
  padding-top:10px;
  padding-bottom:56.25%;
  /*16:9是56.25%，4:3是75%*/
  height:0;
  overflow:hidden;
  border-radius:10px;
  background:#000;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  border-radius:10px;
}

.video-title {
  margin:5px 0;
}

@media (max-width:1024px) {
  .logo_left {
    display:none;
  }

  .logo_right {
    display:none;
  }

  .banner-center {
    width:100%;
  }
}

@media screen and (max-width:768px ) {

  html {overflow-y:scroll;}

  .item {width:calc(100% / 2 - 20px); height:auto; margin:10px 0 0; padding:0;}

  .header {display:none;}

  .header-left {
    margin:7px 0;
  }

  .header-container {
    padding:0 16px;
    margin:-5px 0 0;
    height:50px;
  }

  .login-btn-bar {margin:5px 0;}

  .video-wall {width:calc(100% - 20px);}

  .form-footer {margin:0 0 60px 0;}

  .mobilefix {display:none;}

}

@media screen and (max-width:480px) {
  .item {
    width:100%;
    height:100%;}

  .videobanner {
    height:260px;
    margin:84px 0 0 0;
  }

  .videobanner img {
    left:calc(50% - 240px);
  }

  .videobanner-web {
    display:none;
  }

  .videobanner-m {
    display:block;
  }
}

@media screen and (max-width:425px) {
  .header-left {
    width:50%;
  }

  .header-left > div {margin-right:5px;}
}

@media screen and (max-width:320px) {
  .header-left {
    width:48%;
  }

  .login-btn-bar {
    width:52%;
  }

  .login-btn {margin:8px 0 0 2px;}

  .login-btn, .login-btn:hover {
    margin:7px 0 0 0px;}
}