#gallery-page {
	padding: 14px 14px 20px;
	margin: 63px 0 0;
}
.gallery-container {
}
.gallery-edit {
	border: 1px solid #dcdcdc;
	border-bottom: none;
	background: #eee;
	z-index: 6;
}
.gallery-edit .top {
	padding: 20px 24px;
}
.gallery-edit .top a {
	font-weight: 700;
	color: #666;
}
.gallery-edit .float-l > i {
	font-size: 26px;
	line-height: 26px;
	margin: 0 12px 0 0;
}
.gallery-edit .float-r > a {
	display: inline-block;
	border: 1px solid #bfbfbf;
	padding: 4px 12px;
	margin: 0 -4px 0 0;
}
.gallery-edit .float-r > a:last-child {
	margin: 0 0 0 10px;
}
.gallery-edit .bottom {
	padding: 0px 24px 13px;
}
.gallery-edit .bottom a {
	display: inline-block;
	margin: 0 32px 0 0;
	position: relative;
}
.gallery-edit .bottom span {
	color: #6e4b93;
	font-weight: 700;
}
.gallery-edit .bottom span.active {
	color: #333;
}
.gal-triangle {
	position: absolute;
	bottom: -14px;
	width: 30px;
	height: 13px;
	background: url(../img/triangle-gal.png) no-repeat;
	opacity: 0;
}
.gallery-edit span.active+.gal-triangle {
	opacity: 1;
}
.gallery-pic {
	border: 1px solid #dcdcdc;
	background: #fff;
	/*padding: 4px 4px 4px 5px;*/
	clear: both;
	z-index: 1;
}
/*相簿*/
.gallery-ga-cnt {
	width: 100%;
	overflow: hidden;
	padding: 0 0 16px;
}
.gallery-ga-cnt > li {
	display: inline-block;
	float: left;
	margin: 14px 0 0 14px;
	width: 212px;
	height: 282px;
	position: relative;
}
.ga-cnt-add {
	border: 1px dashed #d2d2d2;
}
.ga-cnt-add > a {
	display: table;
	width: 100%;
	height: inherit;
}
.ga-cnt-add div {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.ga-cnt-add img {
	width: 58px;
	height: 58px;
}
.ga-cnt-add a {
	color: #999;
}
.ga-cnt-normal {
	border: 1px solid #d2d2d2;
}
.ga-cnt-pic {
	width: inherit;
	height: 220px;
	overflow: hidden;
}
.ga-cnt-pic img {
	width: auto;
	height: auto;
}
.ga-cnt-edit {
	padding: 8px 8px;
}
.ga-edit-flyout {
	position: absolute;
	bottom: 34px;
	right: -26px;
	font-size: 12px;
	border: 1px solid #a0a0a0;
	background: #fff;
	display:none;
	z-index:99;
}
.ga-edit-flyout.active{
	display: block;
}
.ga-edit-flyout li {
	padding: 4px 8px;
}
.ga-edit-flyout li:first-child {
	border-bottom: 1px solid #a0a0a0;
}
.ga-edit-flyout i {
	margin: 0 8px 0 0;
}
.ga-edit-flyout a {
	color: #7d7d7d;
}
.ga-edit-flyout-ar {
	position: absolute;
	width: 14px;
	height: 11px;
	bottom: -11px;
	right: 33px;
	background: url(../img/gallery-arrow.png) no-repeat;
}

	
/*** ***/

/*照片*/
.gallery-pic-cnt {
	width: 100%;
	overflow: hidden;
	padding: 0 0 6px;
}
.gallery-pic-cnt > li {
	/*position: absolute;*/
	display: inline-block;
	float: left;
	margin: 6px 0 0 6px;
	width: 222px;
	height: 222px;
}
.ga-list-g {
	display: none;
	opacity: 0;
}
.gallery-pic-cnt li:hover .ga-list-g {
	display: block;
	width: inherit;
	height: inherit;
	position: absolute;
	opacity: 1;
	background: linear-gradient(rgba(0,0,0,0) 50%, rgba(0,0,0,.8));
}
.ga-list-edit {
	position: absolute;
	top: 6px;
	right : 6px;
}
.ga-list-edit a {
	display: inline-block;
	font-size: 10px;
	line-height: 10px;
	padding: 6px;
	color: #666;
	background: #fff;
	border: 1px solid #bfbfbf;
}
.ga-list-info {
	width: 100%;
	position: absolute;
	bottom: 0;
	text-shadow: rgba(0,0,0,.6) 1px 2px 3px;
}
.ga-list-ga {
	padding: 0 12px 8px;
}
.ga-list-me, .ga-list-me a {
	color: #fff;
}
.ga-list-me i {
	line-height: 12px;
	margin: 0 6px 0 12px;
}
.ga-list-me {
	padding: 8px 12px;
	border-top: 1px solid #fff;
}
.ga-list-pic {
	width: inherit;
	height: inherit;
}
/*** ***/

/*gallery-delete*/
#gallery-de .checkbox-cnt{
	padding: 20px 0 20px!important;
	font-size: 22px;
}
#gallery-de .checkbox-btn a{
	width: 160px;
	padding: 14px 0;
	margin: 0 4px;
}
/*gallery-add*/
#gallery-add .checkbox-btn a{
	width: 100%;
	padding: 10px 0;
}
#gallery-add input{
	width: 100%;
	padding: 8px 12px;
	border:1px solid #6e4b93;
	border-radius: 6px;
	font-size:16px;
}
#gallery-add input::placeholder{
	color: #c9c9c9;
}