<<<<<<< HEAD
.live-show-title {
	width: 100%;
	margin: 0px auto 0;
	display: block;
}
.live-show-title>h4 {
    color: #f8b551;
    margin: 0px 0 20px;
    line-height: 36px;
    border-bottom: 2px solid #f8b551;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
.live-show-title {
	width: 100%;
	min-width: 100%;
	padding: 0 10px;}
}
@media (max-width: 480px) {
.live-show-title {
    padding: 0;}
}

.liveshow-cnt {padding:0; overflow: hidden /*0315*/;}
.live-photo {width:120px;}
.live-show-info {margin:45px 0 0 50px;}
.live-show-info ul.items-name-wrap {margin:0 0 0 70px; padding: 0 0 14px 20px/*0315*/;}
.live-show-item {float:right; width:50px;}
.live-show-button {float:right; margin:-35px 0 0 0;}
.live-show-button a {font-size:1.2em; border:1px solid #f8b551; color:#f8b551; padding:5px 12px; border-radius: 50px;}
.info-name {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.liveshow-pic-cnt {width: 130px; height: 120px; float:left;}
.liveshow-icon {width:28px; height:28px; background-size: 28px;}
.edit-pic-cnt .liveshow-icon {top:8px; right:10px;}
.award.icon-s {background-size: 16px; width: 16px; height: 24px;}

/*0315 hide 5分鐘前開始直播適用樣式*/
@media (max-width: 1024px) {
    .info-name {width:130px; }
    .live-show-button {
        float: right;
        margin: -37px 0 0 0;}
    .items-cnt li {
        margin-right: 0;}
    .lev-btn {margin: -5px 0 0 0px;}
}
@media (max-width: 768px) {
    .items-cnt li {margin-right:0;}
    .cnt-photo-wrap {top: 0; left: 0;}
    .live-photo {width:130px;}
    .live-show-info ul.items-name-wrap {
        margin:0px 0 0 80px;
        padding:10px 0 14px 20px;/*0315*/}
    .live-show-button {
        float: right;
        margin: -50px 0 0 0;}
    .info-name {width:auto;}

    .liveshow-pic-cnt {height: 130px; width:130px;}
    .edit-pic-cnt .liveshow-icon {top:5px; right:0px;}
    .award.icon-s {margin-right:5px;}

    .lev-btn {margin: -4px 0 0 -5px;}
}
@media (max-width: 480px) {
    .live-photo {width:110px;}
    .live-show-info ul.items-name-wrap {
        margin:-15px 0 0 50px;
        padding: 0 0 14px 20px;/*0315*/}
    .live-show-button {
        float: left;
        clear: both;
        margin: -50px 0 0 0;}
    .info-name {width:100px;}
    .liveshow-pic-cnt {height: 110px;}
}
@media (max-width: 414px) {
    .info-name {width:180px;}
    .edit-pic-cnt .liveshow-icon {
        top: 5px;
        right: 15px;}
    .live-show-button {
        margin: -45px 0 0 0;}
    .info-name {
        width: 170px;
        margin: 0 0 0 -5px;}
}
@media (max-width: 375px) {
    .info-name {width:131px;}
    .edit-pic-cnt .liveshow-icon {
        top: 5px;
        right: 15px;}
    .live-show-button {
        float: left;
        margin: -45px 0 0 0px;}
}
@media (max-width: 320px) {
    .info-name {width:93px;}
}



/*-----直播畫面POP-----*/
.glightbox-clean .gslide-description {text-align:right; background:#000; color:#fff; font-size:18px;}


/*----左側----*/
.h-tag-side {text-align:center;}
.h-tag-side ul {margin:0;}
.tag-hot-post {color:#f8b551;}
.tag-hot-post span {
    display: inline-block;
    width: 30px;
    height: 30px;}
.tag-hot-post li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;}
.tag-hot-post ul {display: inline-block;}

.tag-hot-video {color:#f8b551;}
.tag-hot-video span {
    display: inline-block;
    width: 30px;
    height: 30px;}
.tag-hot-video li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;}
.tag-hot-video ul {display: inline-block;}

.tag-events {color:#f8b551;}
.tag-events span {
    display: inline-block;
    width: 30px;
    height: 30px;}
.tag-events li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;}
.tag-events ul {display: inline-block;}

.tag-clubs {color:#f8b551;}
.tag-clubs span {
    display: inline-block;
    width: 30px;
    height: 30px;}
.tag-clubs li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;}
=======
.live-show-title {
	width: 100%;
	margin: 0px auto 0;
	display: block;
}
.live-show-title>h4 {
    color: #f8b551;
    margin: 0px 0 20px;
    line-height: 36px;
    border-bottom: 2px solid #f8b551;
    width: 100%;
    height: auto;
}

@media (max-width: 768px) {
.live-show-title {
	width: 100%;
	min-width: 100%;
	padding: 0 10px;}
}
@media (max-width: 480px) {
.live-show-title {
    padding: 0;}
}

.liveshow-cnt {padding:0; overflow: hidden /*0315*/;}
.live-photo {width:120px;}
.live-show-info {margin:45px 0 0 50px;}
.live-show-info ul.items-name-wrap {margin:0 0 0 70px; padding: 0 0 14px 20px/*0315*/;}
.live-show-item {float:right; width:50px;}
.live-show-button {float:right; margin:-35px 0 0 0;}
.live-show-button a {font-size:1.2em; border:1px solid #f8b551; color:#f8b551; padding:5px 12px; border-radius: 50px;}
.info-name {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.liveshow-pic-cnt {width: 130px; height: 120px; float:left;}
.liveshow-icon {width:28px; height:28px; background-size: 28px;}
.edit-pic-cnt .liveshow-icon {top:8px; right:10px;}
.award.icon-s {background-size: 16px; width: 16px; height: 24px;}

/*0315 hide 5分鐘前開始直播適用樣式*/
@media (max-width: 1024px) {
    .info-name {width:130px; }
    .live-show-button {
        float: right;
        margin: -37px 0 0 0;}
    .items-cnt li {
        margin-right: 0;}
    .lev-btn {margin: -5px 0 0 0px;}
}
@media (max-width: 768px) {
    .items-cnt li {margin-right:0;}
    .cnt-photo-wrap {top: 0; left: 0;}
    .live-photo {width:130px;}
    .live-show-info ul.items-name-wrap {
        margin:0px 0 0 80px;
        padding:10px 0 14px 20px;/*0315*/}
    .live-show-button {
        float: right;
        margin: -50px 0 0 0;}
    .info-name {width:auto;}

    .liveshow-pic-cnt {height: 130px; width:130px;}
    .edit-pic-cnt .liveshow-icon {top:5px; right:0px;}
    .award.icon-s {margin-right:5px;}

    .lev-btn {margin: -4px 0 0 -5px;}
}
@media (max-width: 480px) {
    .live-photo {width:110px;}
    .live-show-info ul.items-name-wrap {
        margin:-15px 0 0 50px;
        padding: 0 0 14px 20px;/*0315*/}
    .live-show-button {
        float: left;
        clear: both;
        margin: -50px 0 0 0;}
    .info-name {width:100px;}
    .liveshow-pic-cnt {height: 110px;}
}
@media (max-width: 414px) {
    .info-name {width:180px;}
    .edit-pic-cnt .liveshow-icon {
        top: 5px;
        right: 15px;}
    .live-show-button {
        margin: -45px 0 0 0;}
    .info-name {
        width: 170px;
        margin: 0 0 0 -5px;}
}
@media (max-width: 375px) {
    .info-name {width:131px;}
    .edit-pic-cnt .liveshow-icon {
        top: 5px;
        right: 15px;}
    .live-show-button {
        float: left;
        margin: -45px 0 0 0px;}
}
@media (max-width: 320px) {
    .info-name {width:93px;}
}



/*-----直播畫面POP-----*/
.glightbox-clean .gslide-description {text-align:right; background:#000; color:#fff; font-size:18px;}


/*----左側----*/
.h-tag-side {text-align:center;}
.h-tag-side ul {margin:0;}
.tag-hot-post {color:#f8b551;}
.tag-hot-post span {
    display: inline-block;
    width: 30px;
    height: 30px;}
.tag-hot-post li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;}
.tag-hot-post ul {display: inline-block;}

.tag-hot-video {color:#f8b551;}
.tag-hot-video span {
    display: inline-block;
    width: 30px;
    height: 30px;}
.tag-hot-video li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;}
.tag-hot-video ul {display: inline-block;}

.tag-events {color:#f8b551;}
.tag-events span {
    display: inline-block;
    width: 30px;
    height: 30px;}
.tag-events li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;}
.tag-events ul {display: inline-block;}

.tag-clubs {color:#f8b551;}
.tag-clubs span {
    display: inline-block;
    width: 30px;
    height: 30px;}
.tag-clubs li {
    display: inline-block;
    vertical-align: middle;
    height: 30px;}
>>>>>>> 819cbb7e1eae787fdecca07f5736914c6b47ddab
.tag-clubs ul {display: inline-block;}