/*.header-left, .header-middle, .header-right {padding:8px 0 0;}*/

/*.header-left{width:30%;}
.header-middle{width:30%; text-align:left;}
.header-right {width:40%;}

@media (max-width:768px){
	.header-left{width:100%;}
	.header-middle{width:100%;}
	.header-right {width:100%;}}*/

textarea {resize:none;}
.box-wrap {margin:0;padding: 10px 0 0 0;border-radius: 15px;}
/*.wrapper {overflow:hidden;}*/

/* ------------------------ msg-left ------------------------ */
html::-webkit-scrollbar, body::-webkit-scrollbar {display: none;} /* Chrome only to hide the scrollbar */

.message-wrapper-col {width:80%; max-width:1100px; margin:60px auto; }
@media (max-width:769px){
    .message-wrapper-col {width:97%; margin: 60px auto 0;}
}

.msg-left {z-index:3; position:fixed; height:auto; overflow: auto;
	       width:25.5%; top:60px; bottom:0; border: 2px solid white; border-radius: 15px; background:#fff;}
     @-moz-document url-prefix() { .msg-left { width:28.5%; height:auto; bottom:0;}    } /*firefox only*/
     .msg-left::-webkit-scrollbar {display: none;} /* Chrome only to hide the scrollbar */

.msg-center {z-index:1; position:relative; right:0; float:right; height:auto;
	         width:63%; padding-bottom:0px; border: 2px solid white; border-radius: 15px; background:#fff;}

.msg-right {z-index:1; position:absolute; overflow:auto;
	        width:25%; margin:15px 0px 5px 5px; padding-bottom:20px; border: 2px solid white; border-radius: 15px; background:#fff;}


@media (max-width:1023px){
	html,body {overflow:auto;}
	.msg-left {width:99%; top:0; margin:15px auto 5px auto; position:relative;}
	.msg-center {width:99%; margin:15px auto 5px auto; position:relative;}
	.msg-right {width:99%; margin:15px auto 5px auto; position:relative;}
}

/******for ipad pro******/
/* Landscape*/
@media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: landscape)  {.msg-left {width:28.5%;}}
/* Portrait*/
@media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {.msg-left {width:28.5%; height:auto;} .msg-right {position:absolute;height:auto%;bottom:0;}}

@media (min-width: 1024px) and (max-width: 1280px) {.msg-left {width:28.5%;} .msg-center {width:63%;} }
@media (min-width: 1401px) and (max-width: 1531px) {.msg-left {width:25%;} .msg-center {width:64%;} }
@media (min-width: 1532px) and (max-width: 1700px) {.msg-left {width:22.5%;} .msg-center {width:64.5%;} }
@media (min-width: 1701px) and (max-width: 1918px) {.msg-left {width:21%;} .msg-center {width:63%;} }
@media (min-width: 1919px) {.msg-left {width:20.5%;} .msg-center {width:63%;} }




/*---單則訊息---*/
.msg-title {color:#f8b551; line-height:1em; padding:0 0 0 15px; margin:20px 0 20px 0px;}/*Message總標題*/

.lefta{width:65px;height:65px; margin:0 5px 0 0; float:left;}/*左區塊頭像*/
.leftb{width: calc(100% - 70px); float:left; z-index:1;}/*右區塊內容*/
@media (max-width: 320px) {
    .lefta {width: 55px; height:55px}}
@media (max-width: 1024px) {
    .lefta {width: 55px; height:55px}
    .leftb {width: calc(100% - 64px); margin:0 0 0 2px; padding: 5px 0 0 0; padding: 8px 0 0 0!important;}
}

.msg-col {overflow:auto; padding:10px 10px 10px 10px; border:1px solid #fff; overflow:hidden; border-radius:10px;}/*包住頭像和內容*/
	.msg-col:hover {background:#fde8c8; transition: all 0.2s ease-out;}
	.msg-col .wdropdown {opacity:0;}
	.msg-col:hover .wdropdown {opacity:1;}
.msg-head img {border-radius:50px; background-position:center; background-repeat:repeat; width:65px; height:65px; float:left; overflow:auto;}
    @media (max-width: 320px) {.msg-head img {border-radius:50px; width:50px; height:50px;}}

.msg-name {font-weight:bold; font-size:1.1em; width:calc(100%-40px); margin:10px 0 2px 0; left:40px; float:left;}
    @media (max-width: 320px) {.msg-name {font-size:1em;}}

.msg-date {float:right; margin-top:13px; color:#999; font-size:12px;}
.msg-txt {display:block; clear:both; margin-top:5px; font-size:1em; line-height:1.5em;
	   overflow:hidden; text-overflow: clip/*ellipsis*/; white-space:nowrap;	}/*../img/svg_icon-17.svg*/
.medal {width:20px; height:20px; margin:8px 0 0 0px; float:left; z-index:1;}
.medal a {width:20px; height:30px; margin:-5px 0 0 0px; 
	   background-size: 20px;
	   background-repeat: no-repeat;
	   background-position: center;
	   transition: all .4s; float:left; z-index:1;}
.medalsvg {background-image:url(../img/svg_icon-17.svg);}
.lvl {border-radius: 8px; background-image:linear-gradient(to bottom, #fdc965, #faecd1 48%, #fdc965);
	font-size:11px;	max-width:45px; height:15px; margin:12px 0 0 2px; padding:1px 5px; color:#666; float:left; text-align:center; font-family:'Noto Sans Mono CJK TC';}

@media (max-width: 320px) {
    .msg-txt {width:97%; }/*../img/svg_icon-17.svg*/
    }
@media (max-width: 1024px) {
    .msg-col {padding:10px 10px 10px 10px;}/*包住頭像和內容*/
    .msg-name {margin: 0px 0 0 0;}
    .msg-head img {border-radius:50px; width:55px; height:55px; margin:0;}
    .msg-date {margin-top: 2px; color:#999; font-size:12px;}
    .msg-txt {margin-top:5px; }
    .medal {margin: -2px 0 0 0px;}
    .lvl {margin: 2px 0 0 2px;}
}

.unread {font-weight:bold;}


/* ----- tooltips -----*/
.wrapper-panel {
    margin: 10px 0 0 0;
    *zoom: 1; font-weight: 400;}

.wrapper-panel:after {
    clear: both;
    content: "";
    display: table;}

/* Dropdown Panel */
.wdropdown {
    /* Size and position */
    position: absolute;
    width: 100px;
    margin: -28px -33px 0px 0;
    right:0;

    /* Styles */
    background:url(../img/msg-setting.png) center no-repeat;
    color: white;
    height: 20px;
    width: 120px;
    padding: 8px 5px;
    font-size: 13px;
    border: none;
    cursor: pointer;
    outline: none;

    /* Font settings */
    font-weight: bold;
    color: #8AA8BD;}

.wdropdown:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 15px;
    margin-top: 3px;
    /* 上方的箭頭
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #8aa8bd transparent;*/}

.wdropdown .dropdown {
  /* Size & position */
    position:absolute; top:190%; left:0; right:0;

    /* Styles */
    background: white;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.17);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    font-weight: normal;
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all 0.1s ease-in;
    -ms-transition: all 0.1s ease-in;
    -o-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
    list-style: none;

    /* Hiding */
    opacity: 0;
    pointer-events: none;}

.wdropdown .dropdown:after {/*top arrow front layer*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 53px;
    border-width: 0 6px 12px 6px;
    border-style: solid;
    border-color: #fff transparent;}

.wdropdown .dropdown:before {/*top arrow back layer*/
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    bottom: 100%;
    right: 51px;
    border-width: 0 8px 8px 8px;
    border-style: solid;
    border-color: rgba(0,0,0,0.1) transparent;}

@media (max-width:768px){
	.wdropdown {width:130px;}
	.wdropdown .dropdown {margin:0px 35px 0 0px;}
	.wdropdown .dropdown:after {right: 22px;}
	.wdropdown .dropdown:before {right: 20px;}
}		
@media (min-width:992px){}



.wdropdown .dropdown li a {
    display: block;
    padding: 9px 3px;
    text-align:center;
    text-decoration: none;
    color: #333333;
    border-bottom: 1px solid #e6e8ea;
    box-shadow: inset 0 1px 0 rgba(255,255,255,1);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;}

.wdropdown .dropdown li i {
    float: center; color: inherit;}
.wdropdown .dropdown li:first-of-type a {border-radius: 7px 7px 0 0;}
.wdropdown .dropdown li:last-of-type a {border: none; border-radius: 0 0 7px 7px;}

/* Hover state */
.wdropdown .dropdown li:hover a {background: #f3f8f8;}

/* Active state */
.wdropdown.active .dropdown {opacity: 1; pointer-events: auto;}

/* No CSS3 support */
.no-opacity       .wdropdown .dropdown,
.no-pointerevents .wdropdown .dropdown {
    display: none;
    opacity: 1; /* If opacity support but no pointer-events support */
    pointer-events: auto; /* If pointer-events support but no pointer-events support */}

.no-opacity       .wdropdown.active .dropdown,
.no-pointerevents .wdropdown.active .dropdown {}


/*---單則訊息---*/
.chat-title {color:#f8b551; line-height:1em; padding:0 0 0 15px; margin:20px 0 20px 0px;}/*Message總標題*/

.clefta{width:85px;height:85px; margin:0 5px 0 0; float:left;}/*左區塊頭像*/
.cleftb{width: calc(100% - 105px); left:105px; float:left; z-index:1;}/*右區塊內容*/

.chat-col{overflow:auto; padding:10px 10px 7px 15px;border-bottom:1px solid #eee;overflow:hidden;}/*包住頭像和內容*/
	.chat-span {display:block; clear:both; line-height:1.6em; font-size:1.1em; width:85%;font-weight:bold;}
	.chat-col:hover {}
	.chat-col .wdropdown {opacity:0;}
	.chat-col:hover .wdropdown {opacity:1;}
.chat-head img {border-radius:50px; background-position:center; background-repeat:repeat; width:80px; height:80px;
	float:left; margin:0 15px 0 0; overflow:auto;}
.chat-name {font-weight:bold; font-size:1.3em; width:calc(100%-40px); margin:10px 0 0 0; left:40px; float:left;}
.chat-date {width:35px; float:right; margin-top:10px; }
.chat-txt {display:block; clear:both; line-height:1.3em; font-size:1em; width:100%;}
.cmedal {width:12px; height:19px; margin:8px 0 0 5px; background:url(../img/medal.png) center no-repeat;display:block; float:left; z-index:1;}
.clvl {border-radius: 8px; background-image:linear-gradient(to bottom, #fdc965, #faecd1 48%, #fdc965);
	font-size:11px;	max-width:45px; height:17px; margin:10px 0 0 5px; padding:2px 5px; color:#313131; float:left; text-align:center; font-family:'Noto Sans Mono CJK TC';}

.chatbox {padding:10px;}
.chata {float:left;}
.chatb {float:right;}
.chat-ppla {display:block; clear:both; margin:10px 0;} .chat-ppa img {float:left; margin:10px 15px 0 5px;}
.chat-pplb {display:block; clear:both; margin:10px 0;} .chat-ppb img {float:right; margin:10px 5px 0 15px;}
.chat-ppla img {border-radius:50px; background-position:center; background-repeat:repeat; width:45px; height:45px; margin: 0 10px 0 0;}
.chat-pplb img {border-radius:50px; background-position:center; background-repeat:repeat; width:45px; height:45px; margin: 0 0 0 10px;}
.chat-contenta {display:block; background:#eeeeee; border-radius:20px; margin:5px 0 0 0; padding:8px 20px; color:#333; max-width:340px;}
.chat-contentb {display:block; background:#fde8c8; border-radius:20px; margin:5px 0 0 0; padding:8px 20px; color:#333; max-width:340px;}
.chat-contenta img, .chat-contentb img {width:auto; height:auto; border:3px solid #eee; border-radius:20px;}

.chatfix {background:none;padding:0;}
.replybox {clear:both;}

@media (max-width:768.1px) {
	.cleftb{width: calc(100% - 95px);}
	.chat-span {width:95%;}
	.chat-ppa {margin:0 0 10px 0;} .chat-ppa img {margin:5px 10px 0 0px;}
	.chat-ppb {margin:0 0 10px 0;} .chat-ppb img {margin:5px 0px 0 10px;}
	.chat-contenta {width:100%; max-width:320px;}
	.chat-contentb {width:auto; max-width:289px;}
	.chat-contenta img, .chat-contentb img {max-width: 230px;}
}
@media (max-width:320.1px) {
	.chat-ppa {margin:0 0 10px 0;} .chat-ppa img {margin:5px 10px 0 0px;}
	.chat-ppb {margin:0 0 10px 0;} .chat-ppb img {margin:5px 0px 0 10px;}
	.chat-contenta {width:auto; max-width:230px; }
	.chat-contentb {width:auto; max-width:230px; }
	.chat-contenta img, .chat-contentb img {max-width: 230px;}
}




/* ---- form ---- */
.textbox-type2{	width: 100%; height:auto; border:none; border-radius: 8px; outline: none;
	padding: 12px 10px 0 10px; font-size: 16px; }
.textbox-type2::placeholder{color: #999999;}


/* ----- SVG icons ----- */
.tool-icon-g a {margin:0 5px;}
.tool-icons {margin:30px 0 0; }
.tool-icons a {margin:5px; height:20px; width:20px; display: inline-block; vertical-align: middle;
				background-size:20px; background-repeat: no-repeat; background-position: center;}
.msgsetting {background-image: url(../img/svg_icon-31.svg);}
.msgsetting:hover, .msgsetting:focus {background-image: url(../img/svg_icon-31.svg);}

.msgface {background-image:url(../img/svg_icon-14.svg); margin:0;}
.msgface:hover, .msgface:focus {background-image: url(../img/svg_icon-15.svg);}

.info {background-image:url(../img/svg_icon-16.svg);}
.info:hover, .info:focus {background-image: url(../img/svg_icon-16.svg);}

.icon-pofix {/*margin: -30px 0 0 0;*/}
.tool-icon-g > a.msg-btn {
    background:#F9B552; color:#ffffff; border-radius:10px; margin:0 0 0 10px; padding:6px 10px; width:55px; height:30px;
	text-align:center; display:inline-block;}
.tool-icon-g > a.msg-btn:hover {
    background:#ffffff; color:#F9B552; border:3px solid #F9B552; padding:5px 7px 5px 7px; width:54px; height:30px;}

.textareabox {width:57%; height:40px}
.textoolbox {width:42%;justify-content:right;}



@media (max-width:1024px){
	.tool-icon-g a {margin:0px; padding:0px 0 0 0; height:23px; width:23px; background-size:23px;}
	.tool-icon-g > a.msg-btn {padding:5px 5px; width:45px; height:27px;}
	.tool-icon-g > a.msg-btn:hover {padding:4px 5px; width:45px; height:29px;}
	.textareabox {width:100%; height:35px; margin: 0 0 0px 0; padding:5px;}
	.textoolbox {width:100%; justify-content:right;display: inline-block;text-align: right;}
    }
@media (min-width:961px){
	.tool-icon-g a {margin:0px; padding:0px 0 0 5px; height:30px; width:30px; background-size:30px;}
	}
@media (min-width:768px) and (max-width:1023px){
	.textareabox {width:70%; height:31px;margin: 10px 0 0px 0; padding:5px 5px 5px 10px;}
	.textoolbox {width:29%; justify-content:right; float: right; margin:5px 0 0 0;}
    }
@media (min-width:1024px){
	.textareabox {width:56%; height:31px; /*margin: -10px 0 5px 0!important;*/ margin:10px 0 -10px 5px;padding:5px 0 0 5px;}
	.textoolbox {width:42%; text-align: right; display: inline-block; margin:5px 0 0px 0}
    }
@media (min-width:1200px){
    .textareabox {width:62%;}
    .textoolbox {width:36%;}
    }

/* --------------------right info--------------------- */
.infobox {margin:0 auto; display:table; text-align:center;}
.infotop {clear:both; display:block;}
	.infotop img{border-radius:15px 15px 0 0; margin:-2px auto 0 auto; padding:0; width:100%;}
.infohead {top:100px; clear:both;display: flex; justify-content: center;}
	.infohead img{border-radius:50px;width:100px; height:100px; margin:-70px 0 0 0;}
.info-name {font-weight:bold; font-size:1.3em; margin:40px 0 0 0;}
.info-txt {display:block; clear:both; line-height:1.2em; font-size:1em; width:100%;}
.infomedal {width:20px; height:20px; margin:15px auto -5px; display:inline-block; z-index:1;}
.infomedal a {width:20px; height:30px; margin:-5px 0 0 0px; 
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	transition: all .4s; float:right; z-index:1;}
	.medalsvg {background-image:url(../img/svg_icon-17.svg);}
.infolvl {border-radius: 8px; background-image:linear-gradient(to bottom, #fdc965, #faecd1 48%, #fdc965);
	font-size:11px;	max-width:45px; height:17px; margin:10px 0 5px 5px; padding:2px 5px; color:#313131; 
	text-align:center; font-family:'Noto Sans Mono CJK TC'; display:inline-block;}

.info-div-center {width: auto; height:auto; overflow:hidden;
    text-align:center; position: relative; left: 0; right: 0;  margin: auto; justify-content: center;}
    .infos {color:#999; letter-spacing:0.1em;}
    .info-counts {justify-content:center; width:70%; margin:30px auto 0;}
    .info-counts div {width:33%; float:left; color:#999; text-align:center;}
    .info-counts div p {color:#f8b551; font-weight:bold; margin: 10px 0 5px;}
    .rbar {border-right:1px solid #999;}
.info-span {display:block; clear:both; font-size:1.1em; width:100%; font-weight:bold; margin:20px 0 15px; text-align:center;}
.info-txt {display:block; clear:both; font-size:1em; line-height:1.6em; width:50%; margin:0 auto;}

/* ---------------------- new chat ----------------------- */
.new-chat {}


.tab-btn {border-radius: 10px 10px 0px 0px; margin: 0px -5px 0 0; border: 1px solid #999; padding: 5px 50px; width: 44%;
font-size:18px;}
.tab-btnbg,.tab-btnbg:hover{background:url(../img/tab_bg.jpg) center repeat-y; color:#000!important;}
.w3-bar > button > img {vertical-align:middle; margin:-5px 5px 0 0; height:25px; width:auto;}


/*------------------modeal---------------------*/

.modal {position:fixed; left:0; top:0; width:100%; height:100%; z-index: 999;
 background-color: rgba(255, 255, 255, 0.7); opacity: 0; visibility: hidden; transform: scaleX(1.1) scaleY(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        font-family: sans-serif;
    }
        .modal-backdrop {background-color: #fff;}

/* This Also Can change the BAckground opacity
 opacity: 1 !important;
    filter: Alpha(opacity=50); /* IE8 and earlier */
.modal-content {position: absolute; top:52%; left:50%; transform: translate(-50%, -50%);
        background-color:white; padding:0; width:50rem; border-radius: 10px 10px 10px 10px;
        -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3);
        box-shadow: 0 1px 20px rgba(0, 0, 0, 0.3); 
        overflow-y: auto;
        max-height: 500px;z-index:9999;
    }
.close-button {float:right; width:2.5rem; line-height:2.5rem; text-align:center; cursor:pointer; border-radius:0.25rem;}
    .close-button:hover { }
.show-modal {opacity:1; visibility:visible; transform: scaleX(1.0) scaleY(1.0); transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s; }
.show-modal > .msg-center {overflow:initial;}

@media (max-width:480px) {.modal-content {width:90%; max-height:80%; top:55%;}}

/*------------------modal end--------------------------*/



.modal-white-bg {background:#fff;}

.triggerbtn {display: block; margin: 10px 10px 0 0;
	background-image:url(../img/new_chat.png); background-color: transparent; border: none;
	background-position: center; background-repeat: no-repeat; height:50px; width:50px;}
.triggerbtn:hover, .triggerbtn:active, .triggerbtn:visited {display: block;
	background-image:url(../img/new_chat_hover.png);
	background-position: center; background-repeat: no-repeat; height:50px; width:50px;}

.main-hr {background: linear-gradient(to right, #d39e3f, #eec16a, #fbd37f, #e4bd69, #fbd37f, #eec16a, #d39e3f); height:1px;
	margin:10px 0; width:100%;}

.look4fnds {width:100%; align-items:center; justify-content:center; margin:0px; padding:7px 0 7px 5px;display:inline-block;}
.look4fnds:hover, .highlighted {background:#fbe7bd; border:1px solid #d39e3f; padding:6px 0 6px 5px!important;}
.look4fnds > .msg-head img {width:12%; width:17%!important; height:auto;}
.look4fnds > .msg-name {margin:10px 0 0 8px; font-weight:700;}
#London > .icon-pofix, #Paris > .icon-pofix  {margin: 15px auto 5px auto; padding:0 30px; display:table;}
#London > .tool-icon-g > a.msg-btn, #Paris > .tool-icon-g > a.msg-btn {width:200px; background: linear-gradient(to right, #d39e3f, #eec16a, #fbd37f, #e4bd69, #fbd37f, #eec16a, #d39e3f); color:#000;}
#London > .tool-icon-g > a.msg-btn:hover, #Paris > .tool-icon-g > a.msg-btn:hover {color:#fff; border:none;}
#London > .tool-icon-g > a.msg-btn:active, #Paris > .tool-icon-g > a.msg-btn:active {color:#fff; border:1px solid #d39e3f;}
          .tool-icon-g > .icon-profixb a {margin:10px auto; text-align:center;}
.fnd-left {display:block; float:left; width:50%; max-height:400px; overflow-y:visible;}
.fnd-right {display:block; float:right; width:50%;}


@media (max-width:480px) {
    #London > .icon-pofix {padding:0;}
}

@media (max-width:480px) {
	.fnd-left {display:block; float:left; width:100%;}
	.fnd-right {display:block; float:right; width:100%;} }

.chat-fnd-left {width:59%; float:left; padding:0 10px 0 0; border-right:2px solid #eee;}
.chat-fnd-right {width:40%; float:right;}
.fnd-picked {width:100%; color:lightgrey; font-weight:bold; text-align: left; display:inline-block;}
.fnd-picked p {float:right; display:inline-block;}


.pickedfnds {height:50px; width:100%; align-items:center; justify-content: center; mar7gin:10px 0; padding:6px 0 5px 5px;}
.pickedfnds > .msg-head img {width:20%; height:auto;}
.pickedfnds > .msg-name {margin:10px 0 0 8px;font-weight:700;font-size:14px;}

@media (max-width: 320px) {
    .pickedfnds > .msg-head img {width:15%;}
    .pickedfnds > .msg-name {margin: 5px 0 0 -5px; vertical-align: middle;}
    }
@media (max-width: 480px) {
    .pickedfnds{padding:0px 0 5px 8px!important;}
    .pickedfnds > .msg-head img {width:14%; height:auto;}
    .pickedfnds > .msg-name {margin:15px 0 0 -5px;font-weight:700; font-size: 13px; vertical-align: middle;}
}

.no-border {border: none; width:300px; height:43px;}
.add-btn {display: block; background:url(../img/add.png) center no-repeat; background-size: 60px;
    height:60px; width:60px; margin:10px 0 5px 0;
    border: none; color: white; font-size: 16px;
    border-radius: 20px;}
.add-btn:active {margin:11px 0 5px 1px;}

@media (max-width: 480px) {
    .add-btn {background-size: 60px; height:60px; width:60px; margin:10px 0 -2px 0;}
    .form-group {width:80%;}
}


.checkbox label > .msg-head img {width:15%; height:auto;}
.checkbox label > .msg-name {margin:9px 0 0 8px;font-weight:700;}
    @media (max-width: 320px) {
    .msg-name {font-size:1em;}
    .chat-fnd-left {width: 100%}
    .chat-fnd-right {width:100%;}
    .checkbox label > .msg-head img {width:15%; height:auto; margin:0 5px 0 0; font-size:13px;}
    .checkbox label > .msg-name {margin:6px 0 5px 0;font-weight:700;font-size: 13px; display: block;}
    }
    @media (max-width: 480px) {
    .chat-fnd-left {width:100%; float:left; padding: 0 5px 0 0; border-right:0px solid #eee;}
    .chat-fnd-right {width:100%; float:right;}
    .checkbox label > .msg-head img {width:15%; height:auto; margin:0 5px 0 0; font-size:13px;}
    .checkbox label > .msg-name {margin:15px 0 5px 0; font-weight:700;font-size: 13px; display: block;}
    }

.checkbox-fix {overflow: auto}


