.always-fixed {
    position: fixed !important;
}

.disable {
    display: none !important;
}

.space-h-s {
    display: block !important;
    height: 16px !important;
    width: 100%;
}

/*------
header
--------*/
.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
}

.header .dec-line {
    height: 6px;
}

.header-container {
    width: 100%;
    padding: 0 18px;
    border-bottom: 1px solid #d2d2d2;
    background: #fff;
}

.header-left, .header-middle, .header-right {
    display: inline-block;
    /*width: 33.333%;*/
    float: left;
    vertical-align: middle;
    padding: 8px 0;
}

/*header-left*/
.header-left {
    text-align: left;
    width: 35%;
}

.header-left > div {
    display: inline-block;
    vertical-align: middle;
    margin-right: 14px;
}

/*20180221 delete
.header-left img {
	vertical-align: baseline;
}

.header-logo {
	width: 88px;
}
*/
/*20180221 add*/
.header-logo img {
    width: auto;
    height: 26px;
}

/*20180221 *******/

/*5s-area*/

.video-ac-area span {
    display: inline-block;
    vertical-align: middle;
}

.video-icon {
    margin-right: 8px;
    display: none!important;
}

.video-icon img {
    width: auto;
    height: 30px;
}

.video-txt {
    font-size: 16px;
    line-height: 30px;
    color: #f8b551;
}

.header-hot .video-icon {
    display: none;
}

/*heaer-middle*/
.header-middle {
    text-align: center;
    width: 30%;
}

.header-search {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 360px;
    height: 30px;
}

.header-search input {
    width: 100%;
    height: inherit;
    border-radius: 15px;
    -moz-border-radius: 15px; /*20180201 add*/
    -webkit-border-radius: 15px; /*20180201 add*/
    background: #eee;
    padding: 0 15px;
    z-index: 2;
    outline: none;
    border: 1px solid #eee;
    transition: all .4s;
}

.header-search input::placeholder {
    color: #a0a0a0;
    font-size: 16px;
}

.header-search input:hover, .header-search input:focus, .header-search a:hover + input, .header-search a:focus + input {
    border: 1px solid #f8b551;
    background: #fff;
    transition: all .4s;
}

.header-search a {
    position: absolute;
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: transparent;
    background-image: url(../img/svg_icon-01.svg);
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: center right;
    top: 0;
    right: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.header-search img {
    width: 18px;
}

/*header-right*/
.header-right {
    text-align: right;
    width: 35%;
}

.header-right > ul {
    display: inline-block;
    margin-bottom: 0 !important;
}

.header-right > ul li {
    display: inline-block;
    vertical-align: middle;
}

/*header-icon-g*/
.header-icon-g li {
    position: relative;
    margin-right: 22px;
    height: 30px;
}

.header-icon-g li:first-of-type {
    display: none!important;
}

.header-icon-g a {
    position: relative;
    color: #f8b551;
    font-size: 16px;
    line-height: 30px;
}

.invite, .notify, .message {
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 30px;
    text-indent: 35px;
}

.search {
    display: none;
    background-image: url(../img/icon-search-gold.svg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.invite {
    background-image: url(../img/svg_icon-03.svg);
}

/*.invite:after{
	content: "邀請";
}*/
.notify {
    background-image: url(../img/svg_icon-07.svg);
}

.message {
    background-image: url(../img/svg_icon-06.svg);
}

/*self-dropdown*/

.self-dropdown-img {
    width: 30px;
    height: 30px;
}

.self-dropdown-img img {
    border-radius: 50%;
    -moz-border-radius: 50%; /*20180201 add*/
    -webkit-border-radius: 50%; /*20180201 add*/
}

/*20180227
.self-dropdown-cnt span {
	margin: 0 5px;
	display: inline-block;
	vertical-align: middle;
}

.self-dropdown-cnt img {
	width: 14px;
	height: 8px;
	margin: 2px 0 0 3px;
	display: inline-block;
	vertical-align: middle;
}
.self-dropdown-cnt a {
	color: #f8b551;
	font-weight: 600;
}
*/
/*20180227 add*/
.self-dropdown-cnt h5 {
    font-weight: 600;
    word-break: break-all;
}

/*****/

/*mobile-search*/
/*20180221*/
.m-search-area {
    display: none; /*20180309 add*/
    position: relative;
    padding: 6px 16px 12px;
    background: rgba(255, 255, 255, 1);
}

.m-search-btn {
    position: absolute;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../img/icon-search-gold.svg);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center right;
    bottom: 12px;
    right: 16px;
    outline: none;
    border: none;
    cursor: pointer;
}

.m-search-area input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #f8b551;
    outline: none;
    padding: 4px 0;
    font-size: 14px;
}

/*bubble*/
.bubble-wrap {
    /*display: table;*/
    display: none;
    position: absolute;
    top: -4px;
    left: 16px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    -moz-border-radius: 50%; /*20180201 add*/
    -webkit-border-radius: 50%; /*20180201 add*/
    background: #d83b3b;
    z-index: 100;
}

.bubble-txt {
    display: table-cell;
    font-family: Helvetica, Arial, "sans-serif";
    -webkit-transform: scale(0.66667);
    font-size: 8px;
    font-weight: 700;
    line-height: 6px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    letter-spacing: -.12em; /*20180321 modify*/
}

/*header 通知下拉內容*/
.flyout-box, .flyout-box2 {
    display: none; /*20180309 modify*/
    position: absolute;
    width: 270px;
    margin: 15px 0 0;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    -moz-border-radius: 10px; /*20180201 add*/
    -webkit-border-radius: 10px; /*20180201 add*/
    background: #fff;
    max-height: 350px; /*20180314*/

}

.flyout-box#invite, .flyout-box#notify, .flyout-box#message, .flyout-box#dropdown {
    top: 34px;
}

.flyout-box#dropdown {
    right: 6px;
    width: 205px;
    padding: 12px 0 0;
    max-height: none; /*20180320 add*/
}

.flyout-box#invite {
    right: 180px; /*20180306*/
}

.flyout-box#notify {
    right: 88px; /*20180306*/
}

.flyout-box#message {
    right: 0; /*20180306*/
}

/*20180321 add*/
.flyout-box#pop-at {
    display: block;
}

#message .user-pic-s {
    position: relative;
}

#message .bubble-wrap {
    display: table;
    left: auto;
    right: 2px;
    top: 0;
}

#message .bubble-wrap.active {
    display: table;
}

/*****/
#search-cnt {
    width: 360px;
    top: 46px;
    right: calc(50% - 180px);
    z-index: 100;
}

/*箭頭*/
.flyout-triangle span {
    position: absolute;
    width: 0;
    height: 0;
    font-size: 0;
    overflow: hidden;
    border-width: 8px 6px;
    right: calc(50% - 16px / 2);
}

.flyout-box#dropdown .flyout-triangle span {
    right: 20px; /*20180227 modify*/
}

.flyout-triangle span.bot {
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #e0e0e0 transparent;
    top: -16px;
}

.flyout-triangle span.top {
    border-style: dashed dashed solid dashed;
    border-color: transparent transparent #fff transparent;
    top: -14px;
}

/*20180201 add*/
.flyout-box2 .flyout-triangle span {
    right: auto;
    left: 40px;
    border-width: 16px 6px;
}

.flyout-box2 .flyout-triangle span.bot {
    top: -32px;
}

.flyout-box2 .flyout-triangle span.top {
    top: -30px;
}

/*20180201****/

/*連結*/
.flyout-box > h6 {
    text-align: center;
    padding: 6px;
}

.flyout-box > h6 a {
    display: inline-block;
    color: #f8b551;
    font-weight: 600;
}

.flyout-cnt-wrap { /*20180307 add*/
    max-height: 300px; /*600px; 20180314*/
    overflow-x: hidden; /*20180314*/
    overflow-y: scroll; /*20180314*/
}

.flyout-cnt-wrap::-webkit-scrollbar {
    display: none;
}

/*0314*/
.flyout-cnt-wrap > div {
    max-height: inherit;
    width: 284px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.flyout-cnt-wrap ul {
    margin-bottom: 0;
    width: 270px;
}

.flyout-cnt-wrap li {
    position: relative;
    display: block;
    border-bottom: 1px solid #eee;
    padding: 6px 0;
}

/*20180306 add*/
.flyout-cnt-wrap li:last-of-type {
    border-bottom: none;
}

/*20180201 add*/
.flyout-box2 .flyout-cnt-wrap li {
    border-bottom: none;
}

/*20180201 ****/

.flyout-drop-cnt ul {
    margin-bottom: 0;
}

.flyout-drop-cnt li {
    padding: 0 12px 12px;
    text-align: left;
    font-size: 14px;
    color: #8e8e8e;
}

/*20180227 add*/
.flyout-drop-cnt li.i-money {
    position: relative;
}

/*******/

.flyout-drop-cnt a {
    color: #8e8e8e;
    transition: color .4s;
    cursor: pointer; /*20180320 add*/
}

.flyout-drop-cnt a:hover, .flyout-drop-cnt a:focus {
    color: #f8b551;
}

.logout-btn {
	display: block;
    width: 100%;
    text-align: center;
    outline: none;
    border: none;
    border-radius: 0 0 10px 10px;
    -moz-border-radius: 0 0 10px 10px; /*20180201 add*/
    -webkit-border-radius: 0 0 10px 10px; /*20180201 add*/
    font-size: 14px;
    color: #8e8e8e;
    border-top: 1px solid #eee;
    padding: 6px 0;
    cursor: pointer;
    background: #fff;
    transition: all .4s;
}

.logout-btn:hover, .logout-btn:focus {
    background: #f8b551;
    transition: all .4s;
    color: #313131;
}

/*按鈕*/
.flyout-btn {
    position: absolute;
    top: 6px;
    right: 8px;
}

.flyout-btn .f-check-btn {
    margin-bottom: 3px;
}

.flyout-cnt {
    width: 100%;
    text-align: left;
    padding: 0 8px;
}

.flyout-cnt div {
    display: inline-block;
    vertical-align: middle;
}

.flyout-cnt h5 {
    /*line-height: 16px; 20180309 delete*/
    width: calc(100% - 36px);
    color: #1b1b1b;
}

/*20180321 add*/
#pop-at .flyout-cnt h5 {
    width: 100%;
    text-overflow: inherit;
    overflow: auto;
    white-space: normal;
}

/*20180321 *****/

/*群組*/
.f-group-cnt {
    color: #aaa;
    width: calc(100% - 36px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.flyout-dot {
    position: absolute;
    top: 18px;
    right: 24px;
}

.flyout-dot a {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #f8b551;
    border-radius: 5px;
    -moz-border-radius: 5px; /*20180201 add*/
    -webkit-border-radius: 5px; /*20180201 add*/
}

/*i-money*/
.i-money {
    color: #8e8e8e;
    font-family: Arial, "sans-serif";
}

.i-money a {
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px; /*20180302 modify*/
    background-image: url(../img/money-icon.png);
    background-repeat: no-repeat;
    background-size: 16px;
}

/*.i-money img {
	vertical-align: baseline;
}*/
.i-money > span {
    margin-left: 3px; /*20180302 modify*/
    font-weight: 700;
    display: inline-block;
    vertical-align: middle;
}

/*20180309*/

/*編輯貼文下拉
*/
.edit-post-drop {
    /*display: none;*/
    position: absolute;
    right: -8px;
    top: 6px;
    z-index: 10; /*20180321add*/
}

.edit-post-drop.active {
    display: block;
}

.edit-post-drop .flyout-triangle span {
    right: 13px !important;
    border-width: 8px 4px;
}

.edit-post-drop .flyout-triangle span.bot {
    top: 0;
    border-color: transparent transparent #959595 transparent;
}

.edit-post-drop .flyout-triangle span.top {
    top: 2px;
}

.post-drop-cnt {
    margin-top: 16px;
    border: 1px solid #959595;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    overflow: hidden;
    background: #fff;
}

.post-drop-cnt a {
    display: block;
    font-size: 14px;
    color: #959595;
    transition: color .4s;
    margin-bottom: 4px;
    border-bottom: 1px solid #959595;
    padding: 4px 12px;
}

.post-drop-cnt a:last-of-type {
    margin-bottom: 0px;
    border-bottom: none;
}

.post-drop-cnt a:hover {
    color: #f8b551;
}

/*20180309 ******/

/*RWD*/

@media screen and (max-width: 1200px) {
    .video-txt {
        display: none !important;
    }

    /*20180312 add*/
    .video-icon {
        margin-right: 0;
        display: inline-block !important;
    }

    .header-hot .video-icon {
        display: inline-block !important;
    }

    /*20180312 ***/
    .invite, .notify, .message {
        width: 30px;
        height: 30px;
    }

    .header-icon-g li {
        margin-right: 14px;
    }

    .header-icon-g a span {
        display: none;
    }

    .header-icon-g li:first-of-type {
        display: inline-block!important;
    }

    .flyout-triangle span {
        right: 76px;
    }

    #pop-at .flyout-triangle span {
        right: calc(50% - 16px / 2);
    }

    /*通知定位*/
    .flyout-box#notify {
        right: 50px;
    }

    .flyout-box#invite {
        right: 92px;
    }

    /******/
}

@media screen and (max-width: 900px) {
    /*20180201 add*/
    #search-cnt {
        width: 270px;
        right: calc(50% - 135px);
    }

    /*20180201***/
}

/*20180227 delete
@media screen and (max-width:850px) {
.header-left {
	width: 30%;
}
.header-right {
	width: 40%;
}
}
*/
@media screen and (max-width: 768px) {
    /*20180312 */
    .header {
        display: none;
    }

    .bubble-wrap {
        left: 50%;
    }

    /*
    .header-left {
        width: calc(100% - 220px);
    }
    .header-logo img {
        height: 22px;
    }
    .header-middle {
        display: none;
    }
    .header-right {
        width: 220px;
    }*/
    .search {
        display: inline-block;
    }

    /*
    .self-dropdown {
        display: none!important;
    }
    .flyout-triangle span {
        right: 56px;
    }

    .flyout-box#message {
        right: 12px;
    }
    .flyout-box#notify {
        right: 62px;
    }
    .flyout-box#invite {
        right: 108px;
    }
    */
}

@media screen and (max-width: 480px) {
    /*
    .header-left, .header-right {
        padding: 4px 0;
    }
    .header-left {
        width: calc(100% - 180px);
    }
    .header-right {
        width: 180px;
    }
    .header-left > div {
        margin-right: 6px;
    }
    .header-logo img {
        height: 20px;
    }
    .video-icon img {
        height: 26px;
    }
    .invite, .notify, .message, .search {
        height: 26px;
        background-size: 26px;
    }

    .header-icon-g li {
        margin-right: 8px;
        height: 26px;
    }


    .flyout-box#message {
        right: 6px;
    }
    .flyout-box#notify {
        right: 46px;
    }
    .flyout-box#invite {
        right: 82px;
    }*/

}

@media screen and (max-width: 375px) {
    /*20180312 delete
    .header-container {
        padding: 0 10px;
    }
    .header-left {
        width: calc(100% - 172px);
    }
    .header-left > div {
        margin-right: 2px;
    }
    .header-right {
        width: 172px;
    }
    .header-icon-g li {
        margin-right: 6px;
    }


    .flyout-box {
        right: calc( 50% - 135px)!important;
    }
    .flyout-triangle span {
        display: none;
    }
    */
    .m-search-area {
        padding: 6px 10px 12px;
    }
}

/*-------------
mobile-navigation
---------------*/
.m-header-menu {
    display: none !important;
}

#menu-trigger {
    height: 28px;
    width: 24px;
    display: inline-block;
}

/*hamburger*/
#menu-trigger .menu-icon {
    display: inline-block;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    width: 22px;
    height: 3px;
    background: #f8b551;
}

#menu-trigger .menu-icon::before, #menu-trigger .menu-icon:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    left: 0;
}

#menu-trigger .menu-icon::before {
    bottom: 7px;
}

#menu-trigger .menu-icon::after {
    top: 7px;
}

#menu-trigger.is-clicked .menu-icon {
    background: rgba(0, 0, 0, 0);
}

#menu-trigger.is-clicked .menu-icon::before, #menu-trigger.is-clicked .menu-icon::after {
    background: #f8b551;
}

#menu-trigger.is-clicked .menu-icon::before {
    bottom: 0;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#menu-trigger.is-clicked .menu-icon::after {
    top: 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/*slide panel for navigation-left*/
#mobile-nav {
    position: fixed;
    height: 100%;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    /*width: 260px;*/
    width: 100vw;
    background: #fff;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
    transition: all .4s 0s, visibility 0s .4s;
    -webkit-transform: translateX(70vw);
    -moz-transform: translateX(70vw);
    -ms-transform: translateX(70vw);
    -o-transform: translateX(70vw);
    transform: translateX(70vw);
    opacity: 0;
}

#mobile-nav.menu-is-open {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
    transition: all .4s 0s, visibility 0s 0s;
    -webkit-overflow-scrolling: touch;
    opacity: 1;
}

/*hide scroll bar*/
.m-nav-wrap, .m-nav-inner {
    width: 100vw;
    height: 100vh;
}

.m-nav-wrap {
    padding: 53px 0 0;
    position: relative;
    overflow: hidden !important;
}

.m-nav-out {
    width: calc(100vw + 20px);
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden !important;
    overflow-y: scroll;
    height: 100vh;
    padding: 0 0 0 20px;
}

.m-nav-inner {
    padding: 65px 0 0;
}

.m-nav-inner li {
    position: relative;
    padding: 0 12px 12px;
    font-size: 14px;
}

.m-nav-inner li:last-of-type {
    border-bottom: 1px solid #eee;
}

.m-nav-inner a {
    color: #8e8e8e;
}

.m-nav-inner .i-money-btn {
    position: static;
    padding: 4px 16px;
    font-size: 12px;
    border-radius: 12px;
    -moz-border-radius: 12px; /*20180201 add*/
    -webkit-border-radius: 12px; /*20180201 add*/
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.m-nav-inner button {
    width: 100%;
    text-align: left;
    outline: none;
    border: none;
    border-radius: 10px;
    -moz-border-radius: 10px; /*20180201 add*/
    -webkit-border-radius: 10px; /*20180201 add*/
    font-size: 14px;
    color: #8e8e8e;
    padding: 6px 0;
    cursor: pointer;
    background: #fff;
    transition: all .4s;
    margin-left: 12px;
}

/*RWD*/

@media screen and (max-width: 768px) {
    .m-header-menu {
        display: inline-block !important;
        vertical-align: middle;
    }
}

/*20180312 add*/
@media screen and (max-width: 480px) {
    .m-nav-inner {
        padding: 100px 0 0;
    }
}

/*main*/
.main-content {
    min-height: 100%;
    position: relative;
    z-index: 2;
    -webkit-transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    transition-property: transform;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.main-content.menu-is-open {
    -webkit-transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
    -ms-transform: translateX(-100vw);
    -o-transform: translateX(-100vw);
    transform: translateX(-100vw);
}

/*** ***/
/*footer*/
.footer-p {
    padding: 0 16px;
    font-size: 16px;
    color: #a0a0a0;
}

.footer-p div {
    margin-bottom: 8px;
}

.footer-p a {
    margin-right: 10px;
    color: #a0a0a0;
}

.footer-p a:hover, .footer-p a:active {
    text-decoration: underline;
}

/*----header 左側----*/
.h-tag-side {
    text-align: center;
}

.h-tag-side ul {
    margin: 0;
}

.tag-hot-post {
    color: #f8b551;
}

.tag-hot-post span {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.tag-hot-post li {
    display: inline-block;
    vertical-align: middle; /*height: 30px; 20180312 DELETE*/
}

.tag-hot-post ul {
    display: inline-block;
}

.tag-hot-video {
    color: #f8b551;
}

.tag-hot-video span {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.tag-hot-video li {
    display: inline-block;
    vertical-align: middle; /*height: 30px;20180312 delete*/
}

.tag-hot-video ul {
    display: inline-block;
}

.tag-events {
    color: #f8b551;
}

.tag-events span {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.tag-events li {
    display: inline-block;
    vertical-align: middle; /*height: 30px;20180312 delete*/
}

.tag-events ul {
    display: inline-block;
}

.tag-clubs {
    color: #f8b551;
}

.tag-clubs span {
    display: inline-block;
    width: 30px;
    height: 30px;
}

.tag-clubs li {
    display: inline-block;
    vertical-align: middle; /*height: 30px;20180312 delete*/
}

.tag-clubs li:first-of-type, .tag-events li:first-of-type, .tag-hot-video li:first-of-type, .tag-hot-post li:first-of-type {
    margin-right: 6px;
}

.tag-clubs ul {
    display: inline-block;
}
